<form>
	<div class="pRow">
		<label class="spaceText">
			<div class="labelText">URL:</div>
			<input type="text" ng-model="data.url">
		</label>
	</div>
	<div ng-show="submitted && data.url.length == 0" class="alert indentAlert">URL is required.</div>
	<div ng-show="errors.duplicate" class="alert indentAlert">This song is already in our system.</div>
	<div ng-show="errors.invalidURL" class="alert indentAlert">This URL isn't one we currently accept.</div>
	<div class="pRow">
		<label class="spaceText">
			<div class="labelText">Title:</div>
			<input type="text" ng-model="data.title">
		</label>
	</div>
	<div ng-show="submitted && data.title.length == 0" class="alert indentAlert">Title is required.</div>
	<div class="pRow">
		<div class="spaceText">Has lyrics?</div>
		<label class="radioLabel">
			<pretty-radio radio="data.hasLyrics" r-value="'yes'"></pretty-radio>
			<div class="labelText">Yes</div>
		</label>
		<label class="radioLabel">
			<pretty-radio radio="data.hasLyrics" r-value="'no'"></pretty-radio>
			<div class="labelText">No</div>
		</label>
	</div>
	<div class="pRow">
		<div>Genres:</div>
		<div ng-show="submitted && !(data.genres | filter: { $: true})" class="alert">At least one genre must be selected.</div>
	</div>
	<div id="genres" class="pRow">
		<label ng-repeat="(clean, genre) in genres">
			<pretty-checkbox checkbox="data.genres[clean]"></pretty-checkbox>
			<div class="labelText">{{genre}}</div>
		</label>
	</div>
	<div id="notesRow" class="pRow">
		<label class="spaceText">
			<div class="labelText">Notes:</div>
			<textarea ng-model="data.notes"></textarea>
		</label>
	</div>
	<div class="pRow"><button type="submit" ng-click="save()" class="fancyButton" skew-element>Add FAQ</button></div>
</form>
