ErrorDocument 401 errors/401
ErrorDocument 403 errors/403
ErrorDocument 404 errors/404

Options -Indexes +FollowSymLinks
RewriteEngine On

RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^(.*)/$
#RewriteRule ^(.*)$ /$1/ [L,R=301]

RewriteCond %{REQUEST_URI} !^/blog
RewriteCond %{REQUEST_URI} !^/phpthumb
RewriteCond %{REQUEST_URI} !^/backup
RewriteCond %{REQUEST_URI} !^/test\d?\.php$
RewriteCond %{REQUEST_URI} !^/phpinfo\.php$
RewriteCond %{REQUEST_URI} !^/test/
RewriteCond %{REQUEST_URI} !^/dbBackup\.php$
RewriteCond %{REQUEST_URI} !^/oneRunScripts/
RewriteCond %{REQUEST_URI} !^/angular/
RewriteRule !\.(css|jpg|js|gif|png|ico|eot|woff|woff2|ttff|svg|psd)$ dispatch.php
