version: '3.6'

volumes:
  # logs:
  #   driver: local
  mysql_db:
    driver: local
    name: gpv1_mysql_db
  mongo_db:
    driver: local
    name: gpv1_mongo_db

services:
  # memcached:
  #   image: memcached:alpine
  #   container_name: gamersplane-memcached

  proxy:
    build:
      context: ./docker/apache
      dockerfile: Dockerfile
    container_name: gpv1-proxy
    ports:
      - 127.0.0.1:80:80
    volumes:
      - .:/var/www
      - ./docker/apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./docker/apache/extra:/usr/local/apache2/conf/extra
      - ./docker/apache/vhosts/vhosts.${ENVIRONMENT}.conf:/usr/local/apache2/conf/vhosts.conf
      - ./logs/proxy:/var/log/
    depends_on:
      - api

  api:
    build:
      context: ./
      dockerfile: docker/Dockerfile-php
    container_name: gpv1-api
    volumes:
      - ./:/var/www
    depends_on:
      - mysql
      - mongo

  mysql:
    image: mysql:5.5
    container_name: gpv1-mysql
    ports:
      - 3306
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=gamersplane
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./docker/mysql:/docker-entrypoint-initdb.d
      - mysql_db:/var/lib/mysql

  mongo:
    build:
      context: ./docker/mongo
    container_name: gpv1-mongo
    ports:
      - 5432
    volumes:
      - mongo_db:/data/db
