<div id="aspects">
	<h2 class="headerbar hbDark">Aspects <a href="" ng-click="addItem()">[ Add Aspect ]</a></h2>
	<div id="aspectList" class="hbdMargined">
		<div class="aspect item tr clearfix">
			<input type="text" ng-model="character.highConcept" class="aspectName width5 alignLeft" placeholder="High Concept">
		</div>
		<div class="aspect item tr clearfix">
			<input type="text" ng-model="character.trouble" class="aspectName width5 alignLeft" placeholder="Trouble">
		</div>
		<div ng-repeat="aspect in $parent.character.aspects track by $index" class="aspect item tr clearfix">
			<input type="text" ng-model="aspect" class="aspectName width5 alignLeft" placeholder="Aspect Name">
			<a href="" class="remove sprite cross"></a>
		</div>
	</div>
</div>
