/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a	{
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton2 a	{
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton3 a	{
	background-image:url(images/underline.png);
}
.markItUp .markItUpButton4 a	{
	background-image:url(images/stroke.png);
}
.markItUp .markItUpButton5 a	{
	background-image:url(images/hr.png);
}
.markItUp .markItUpButton6 a	{
	background-image:url(images/color.png);
}

.markItUp .markItUpButton7 a	{
	background-image:url(images/picture.png);
}
.markItUp .markItUpButton8 a	{
	background-image:url(images/link.png);
}

.markItUp .markItUpButton9 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton10 a	{
	background-image:url(images/notes.png);
}
.markItUp .playerNoteSelector li a	{
	background-image:url(images/hr.png);
}
.markItUp .playerNoteSelector li.playerNoteSelected a	{
	background-image:url(images/preview.png);
}
.markItUp .playerNoteSelector li.playerNoteAdd a	{
	background-image:url(images/notes.png);
}
.markItUp .playerNoteSelector li.playerPrivateAdd a	{
	background-image:url(images/private.png);
}

.markItUp .markItUpButton11 a	{
	width: 32px;
	background-image:url(images/ooc.png);
}
.markItUp .markItUpButton12 a	{
	width: 44px;
	background-image:url(images/spoiler.png);
}
/*.markItUp .markItUpButton7 a	{
	background-image:url(images/fonts.png);
}
.markItUp .markItUpButton8 a	{
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton9 a	{
	background-image:url(images/list-numeric.png);
}
.markItUp .markItUpButton10 a	{
	background-image:url(images/list-item.png);
}

.markItUp .markItUpButton11 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton12 a	{
	background-image:url(images/code.png);
}

.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}
