/*
	Gamers Plane Characters: D&D3/3.5 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/


#page_characterSheet_cthulhu_edit h2 img, #page_characterSheet_cthulhu_sheet h2 img {
	margin-bottom: 1em;
}

#page_characterSheet_cthulhu_edit .cell, #page_characterSheet_cthulhu_sheet .cell {
	display: inline-block;
}

#page_characterSheet_cthulhu_sheet #editCharLink  {
	margin-bottom: 1.5em;
}

#page_characterSheet_cthulhu_edit label, #page_characterSheet_cthulhu_sheet label {
	font-size: .8em;
	display: inline-block;
}

#page_characterSheet_cthulhu_edit label.shiftRight, #page_characterSheet_cthulhu_sheet label.shiftRight {
	padding-left: 8px;
}

#page_characterSheet_cthulhu_edit input[type="text"] {
	width: 200px;
}

#page_characterSheet_cthulhu_edit .col1, #page_characterSheet_cthulhu_sheet .col1 {
	width: 200px;
}

#page_characterSheet_cthulhu_edit .col2, #page_characterSheet_cthulhu_sheet .col2 {
	width: 350px;
}

#page_characterSheet_cthulhu_edit .col3, #page_characterSheet_cthulhu_sheet .col3 {
	width: 100px;
}

#page_characterSheet_cthulhu_edit .col4, #page_characterSheet_cthulhu_sheet .col4 {
	width: 40px;
}

#page_characterSheet_cthulhu_edit .col5, #page_characterSheet_cthulhu_sheet .col5 {
	width: 60px;
}

#page_characterSheet_cthulhu_edit label.leftLabel, #page_characterSheet_cthulhu_sheet label.leftLabel {
	font-size: 1em;
}

#page_characterSheet_cthulhu_edit .lrBuffer {
	margin-right: 10px;
	margin-left: 10px;
}

#page_characterSheet_cthulhu_edit .labelTR {
	padding-bottom: 0;
}

#page_characterSheet_cthulhu_sheet .labelTR {
	padding: 0;
}

#page_characterSheet_cthulhu_sheet .dataTR {
	margin-bottom: 1em;
}

#page_characterSheet_cthulhu_sheet .dataTR > div {
	display: inline-block;
}

#page_characterSheet_cthulhu_edit #label label {
	float: left;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1em;
}

#page_characterSheet_cthulhu_edit #label div {
	width: 200px;
	text-align: right;
	font-size: .8em;
}

#page_characterSheet_cthulhu_edit #size {
	width: 65px;
	text-align: center;
}

#page_characterSheet_cthulhu_edit #classes {
	width: 350px;
}

#page_characterSheet_cthulhu_edit #levels {
	width: 75px;
}

#page_characterSheet_cthulhu_edit #stats, #page_characterSheet_cthulhu_sheet #stats {
	margin: 1.5em 0 .5em;
	float: left;
}

#page_characterSheet_cthulhu_sheet #stats {
	margin-top: 0;
}

#page_characterSheet_cthulhu_sheet #stats .dataTR {
	margin-bottom: 0;
}

#page_characterSheet_cthulhu_edit #stats input, #page_characterSheet_cthulhu_sheet #stats .stat {
	width: 30px;
	text-align: center;
}

#page_characterSheet_cthulhu_sheet #stats .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

#page_characterSheet_cthulhu_edit #stats span, #page_characterSheet_cthulhu_sheet #stats span {
	display: inline-block;
	width: 30px;
	text-align: center;
}

#page_characterSheet_cthulhu_sheet #stats .stat, #page_characterSheet_cthulhu_sheet #stats span {
	width: 40px;
}

#page_characterSheet_cthulhu_edit #savingThrows, #page_characterSheet_cthulhu_edit #hp, #page_characterSheet_cthulhu_sheet #savingThrows, #page_characterSheet_cthulhu_sheet #hp {
	margin: 1.5em 0 1em 300px;
}

#page_characterSheet_cthulhu_sheet #savingThrows {
	margin-top: 0;
}

#page_characterSheet_cthulhu_sheet #savingThrows .dataTR {
	margin-bottom: 0;
}

#page_characterSheet_cthulhu_edit #savingThrows .labelTR label, #page_characterSheet_cthulhu_sheet #savingThrows .labelTR label {
	text-align: center;
}

#page_characterSheet_cthulhu_edit #savingThrows label.first {
	margin-left: 90px;
}

#page_characterSheet_cthulhu_sheet #savingThrows label.first {
	margin-left: 80px;
}

#page_characterSheet_cthulhu_edit #savingThrows label.leftLabel, #page_characterSheet_cthulhu_sheet #savingThrows label.leftLabel {
	width: 75px;
}

#page_characterSheet_cthulhu_edit #savingThrows span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#page_characterSheet_cthulhu_sheet #savingThrows .dataTR > div {
	text-align: center;
}

#page_characterSheet_cthulhu_edit #savingThrows input {
	width: 32px;
	text-align: center;
}

#page_characterSheet_cthulhu_edit #hp {
	margin-top: 2em;
}

#page_characterSheet_cthulhu_edit #hp label {
	margin-right: 10px;
}

#page_characterSheet_cthulhu_edit #hp input {
	width: 40px;
	text-align: center;
	margin-right: 20px;
}

#page_characterSheet_cthulhu_edit #hp input#damageReduction {
	width: 150px;
}

#page_characterSheet_cthulhu_sheet #hp div {
	padding: 3px 8px;
	margin: 0 20px 0 10px;
	border: 1px solid #555;
}

#page_characterSheet_cthulhu_edit #ac {
	clear: left;
	margin-top: 4em;
}

#page_characterSheet_cthulhu_sheet #ac {
	margin-top: 1.5em;
}

#page_characterSheet_cthulhu_edit #ac label, #page_characterSheet_cthulhu_sheet #ac label {
	text-align: center;
}

#page_characterSheet_cthulhu_sheet #ac .first {
	margin-right: 10px;
}

#page_characterSheet_cthulhu_sheet #ac .labelTR .first {
	margin-right: 75px;
}

#page_characterSheet_cthulhu_edit #ac #ac_total {
	width: 60px;
}

#page_characterSheet_cthulhu_sheet #ac .dataTR div {
	text-align: center;
}

#page_characterSheet_cthulhu_edit #ac span {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#page_characterSheet_cthulhu_edit #ac .sizeVal {
	width: 40px;
	margin: 0 10px;
	text-align: center;
}

#page_characterSheet_cthulhu_edit #ac input {
	width: 32px;
	text-align: center;
	margin: 0 10px;
}

#page_characterSheet_cthulhu_edit #ac input.first {
	margin: 0 20px;
}

#page_characterSheet_cthulhu_edit #combatBonuses, #page_characterSheet_cthulhu_sheet #combatBonuses {
	margin-top: 1.5em;
	float: left;
	margin-right: 50px;
}

#page_characterSheet_cthulhu_sheet #combatBonuses .dataTR div {
	text-align: center;
}

#page_characterSheet_cthulhu_edit #combatBonuses .labelTR label, #page_characterSheet_cthulhu_sheet #combatBonuses .labelTR label {
	text-align: center;
}

#page_characterSheet_cthulhu_edit #combatBonuses .labelTR .first {
	margin-left: 115px;
}

#page_characterSheet_cthulhu_sheet #combatBonuses .labelTR .first {
	margin-left: 105px;
}

#page_characterSheet_cthulhu_edit #combatBonuses label.leftLabel, #page_characterSheet_cthulhu_sheet #combatBonuses label.leftLabel {
	text-align: right;
}

#page_characterSheet_cthulhu_edit #combatBonuses span, #page_characterSheet_cthulhu_sheet #combatBonuses span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#page_characterSheet_cthulhu_edit #combatBonuses input {
	width: 32px;
	text-align: center;
}

#page_characterSheet_cthulhu_edit #combatManuvers {
	margin-top: 1.5em;
}

#page_characterSheet_cthulhu_sheet #combatManuvers {
	margin-top: 2.5em;
}

#page_characterSheet_cthulhu_edit #combatManuvers .col4, #page_characterSheet_cthulhu_sheet #combatManuvers .col4 {
	text-align: center;
}

#page_characterSheet_cthulhu_edit #combatManuvers #cmd, #page_characterSheet_cthulhu_sheet #combatManuvers #cmd {
	margin-top: 1em;
}

#page_characterSheet_cthulhu_edit #combatManuvers .labelTR .first, #page_characterSheet_cthulhu_sheet #combatManuvers .labelTR .first {
	margin-left: 65px;
}

#page_characterSheet_cthulhu_edit .textareaDiv, #page_characterSheet_cthulhu_sheet .textDiv {
	width: 450px;
	margin-top: 1em;
}

#page_characterSheet_cthulhu_edit .textareaDiv textarea {
	width: 442px;
	height: 10em;
}

#page_characterSheet_cthulhu_edit #items, #page_characterSheet_cthulhu_edit #spells, #page_characterSheet_cthulhu_sheet #items, #page_characterSheet_cthulhu_sheet #spells {
	margin-top: 1.5em;
}

#page_characterSheet_cthulhu_edit #items textarea, #page_characterSheet_cthulhu_edit #spells textarea {
	width: 912px;
	height: 12.4em;
}

#page_characterSheet_cthulhu_edit #notes, #page_characterSheet_cthulhu_sheet #notes {
	margin-top: 1.5em;
}

#page_characterSheet_cthulhu_edit #notes textarea {
	width: 912px;
	height: 16.2em;
}

#page_characterSheet_cthulhu_edit #submitDiv {
	text-align: center;
	margin-top: 1em;
}