/*
	Gamers Plane Characters: Custom CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

label {
	font-size: 1em;
}

.leftCol {
	float: left;
	width: 200px;
	margin-top: 5px;
	font-weight: bold;
	text-align: right;
}

#charLabel {
	margin-top: 0;
}

#charSheetLabel {
	margin-top: 0;
}

.rightCol {
	margin-left: 210px;
	width: 620px;

	img {
		width: 100%;
	}
}

input[type="text"] {
	width: 200px;
}

textarea {
	width: 600px;
	height: 20em;
}

#labelInfo {
	width: 200px;
	padding-top: 4px;
	font-size: .8em;
	text-align: center;
}

#editCharacter {
	margin-bottom: .3em;
}
