/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#nameDiv label {
	display: block;
	float: left;
	width: 70px;
	text-align: right;
	margin-right: 10px;
}

#nameDiv input {
	width: 200px;
}

.triCol {
	float: left;
	width: 306px;
	margin-right: 16px;
}

.lastTriCol {
	margin-right: 0;
}

.editCharacter textarea {
	width: 100%;
	height: 6.2em;
}

.triCol h3 {
	text-decoration: none;
}

.statDiv {
	position: relative;
	margin-top: .75em;
	padding-top: .75em;
}

#page_characterSheet_deadlands_sheet .statDiv {
	border-top: 1px solid #AAA;
}

.firstStatDiv {
	margin-top: 0;
	padding-top: 0;
}

#page_characterSheet_deadlands_sheet .firstStatDiv {
	border-top: none;
}

.editCharacter .statDiv input {
	width: 30px;
	text-align: center;
}

.triCol .skillTitle {
	margin-top: .75em;
}

.editCharacter #edge_hind {
	height: 20em;
}

.editCharacter #nightmare {
	height: 12.4em;
}

#woundsDiv .indivWoundDiv {
	margin-bottom: .5em;
	text-align: center;
}

#woundsDiv h3 {
	margin: .5em 0;
}

#woundsDiv .indivWoundDiv input {
	width: 60px;
	text-align: center;
}

#woundsDiv .subTwoCol {
	width: 153px;
	float: left;
}

#windDiv {
	margin-top: .5em;
	text-align: center;
}

#windDiv h3 {
	display: inline;
	margin-right: 10px;
}

#windDiv input {
	width: 30px;
	text-align: center;
}

.twoCol {
	float: left;
	width: 465px;
	margin-right: 20px;
}

.lastTwoCol {
	margin-right: 0;
}

.leftTitle {
	text-align: left;
	margin-top: 1.5em;
}

.editCharacter #weapons, .editCharacter #arcane, .editCharacter #equipment {
	height: 10em;
}

.editCharacter #equipment {
	height: 25.4em;
}

.editCharacter #notes {
	height: 24.8em;
	width: 912px;
}

.editCharacter #submitDiv {
	clear: both;
	text-align: center;
	margin-top: 1em;
}