/*
	Gamers Plane Characters: D&D3/3.5 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/


.cell {
	display: inline-block;
}

label {
	font-size: .8em;
	display: inline-block;
}

label.shiftRight {
	padding-left: 8px;
}

input[type="text"] {
	width: 40px;
	text-align: center;
}

.shortText, input.shortText {
	width: 100px;
}

.medText, input.medText {
	width: 200px;
}

.longText, input.longText {
	width: 350px;
}

input.shortText, input.medText, input.longText {
	text-align: left;
}

.shortNum, input.shortNum {
	width: 40px;
}

.medNum, input.medNum {
	width: 60px;
}

label.leftLabel {
	font-size: 1em;
}

.lrBuffer {
	margin-right: 10px;
	margin-left: 10px;
}

.editCharacter .labelTR {
	padding-bottom: 0;
}

.viewCharacter .labelTR {
	padding: 0;
}

.viewCharacter .dataTR {
	margin-bottom: 1em;
}

.viewCharacter .dataTR > div {
	display: inline-block;
}

.editCharacter #label label {
	float: left;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1em;
}

.editCharacter #label div {
	width: 200px;
	text-align: right;
	font-size: .8em;
}

.editCharacter #size {
	width: 65px;
	text-align: center;
}

.editCharacter #label_size {
	position: relative;
	left: -3px;
}

.editCharacter #classes {
	width: 350px;
	text-align: left;
}

.editCharacter #levels {
	width: 75px;
}

#stats, #savingThrows, #hp {
	margin: 1.5em 0 .5em;
	float: left;
}

.viewCharacter #stats {
	margin-top: 0;
}

.viewCharacter #stats .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

#stats div.stat, #stats span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#savingThrows, #hp {
	margin-left: 50px;
}

.viewCharacter #savingThrows {
	margin-top: 0;
}

.viewCharacter #savingThrows .dataTR {
	margin-bottom: 0;
}

#savingThrows .labelTR label {
	text-align: center;
}

#savingThrows label.leftLabel, #savingThrows .fillerBlock {
	width: 75px;
}

.editCharacter #savingThrows span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.viewCharacter #savingThrows .dataTR > div {
	text-align: center;
}

.editCharacter #hp {
	margin-top: 2em;
}

.editCharacter #hp label {
	margin-right: 10px;
}

.editCharacter #hp input {
	margin-right: 20px;
}

.editCharacter #hp input#damageReduction {
	width: 150px;
}

.viewCharacter #hp div {
	padding: 3px 8px;
	margin: 0 20px 0 10px;
	border: 1px solid #555;
}

#ac {
	margin-top: 1.5em;
}

#ac label, .viewCharacter #ac .dataTR div {
	text-align: center;
	width: 60px;
}

.viewCharacter #ac .first {
	margin-right: 10px;
}

.viewCharacter #ac .dataTR div {
	text-align: center;
}

.editCharacter #ac .tr div {
	display: inline-block;
	width: 50px;
	text-align: center;
}

.editCharacter #ac #ac_total {
	width: 60px;
}

.editCharacter #ac .tr .sizeVal {
	width: 40px;
	margin: 0 10px;
	text-align: center;
}

.editCharacter #ac input.first {
	margin: 0 20px;
}

#combatBonuses {
	margin-top: 1.5em;
}

.viewCharacter #combatBonuses .dataTR div {
	text-align: center;
}

#combatBonuses .labelTR label {
	text-align: center;
}

.editCharacter #combatBonuses .labelTR .first {
	margin-left: 115px;
}

.viewCharacter #combatBonuses .labelTR .first {
	margin-left: 105px;
}

#combatBonuses label.leftLabel {
	text-align: right;
}

#combatBonuses span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.editCharacter .textareaDiv, .viewCharacter .textDiv {
/*	width: 450px;*/
	margin-top: 1em;
}

.editCharacter h2 a {
	margin-left: 10px;
	font-size: .6em;
	font-weight: normal;
	line-height: 1em;
}

#skills, #feats {
	margin-top: 1em;
}

#weapons, #armor {
	margin-top: 2em;
}

#weapons .remove, #armor .remove {
	font-size: .85em;
}

#skills {
	width: 560px;
}

#addSkillWrapper {
	margin: 1em 0;
	position: relative;
}

#addSkillWrapper .fancyButton, #addFeatWrapper .fancyButton {
	top: -1px;
	margin-left: 5px;
	vertical-align: middle;
}

.skill span {
	display: inline-block;
}

.skill .skill_stat {
	text-transform: smallcaps;
}

.skill .skill_total {
	text-align: center;
}

#feats {
	width: 380px;
}

#feats span, #feats a {
	display: inline-block;
}

.editCharacter .feat_name {
	width: 245px;
}

.viewCharacter .feat_name {
	width: 295px;
}

.feat_notesLink {
	font-size: .8em;
}

.viewCharacter .feat_notes {
	display: none;
}

#weapons {
	width: 490px;
}

.weapon, .armor {
	margin: 20px 0 0;
	padding-top: 10px;
	border-top: 1px solid #777;
}

.weapon input, .armor input {
	text-align: center;
}

.weapon:first-child, .armor:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.viewCharacter #weapons span, .viewCharacter #armor span {
	display: inline-block;
}

.viewCharacter .weapon .lrBuffer {
	margin-right: 5px;
	margin-left: 0;
}

.viewCharacter .armor .lrBuffer {
	margin-right: 2px;
	margin-left: 2px;
}

.viewCharacter .weapon .labelTR, .viewCharacter .armor .labelTR {
	padding-top: .5em;
}

.viewCharacter .weapon .labelTR:first-child, .viewCharacter .armor .labelTR:first-child {
	padding-top: 0;
}

.weapon .medText {
	width: 216px;
	text-align: left;
}

.weapon_secondRow label, .viewCharacter .weapon_secondRow span, .editCharacter .weapon_secondRow input {
	width: 98px;
}

input.weapon_notes, .weapon_notes {
	width: 469px;
	text-align: left;
}

#armor {
	width: 440px;
}

.editCharacter .armor_firstRow label.shortText, .viewCharacter .armor_firstRow .shortText, .editCharacter .armor_firstRow input.shortText {
	width: 70px;
}

.armor .medText {
	width: 230px;
	text-align: left;
}

.armor_secondRow label, .viewCharacter .armor_secondRow span, .editCharacter .armor_secondRow input {
	width: 86px;
}

input.armor_notes, .armor_notes {
	width: 421px;
	text-align: left;
}

#items, #spells {
	float: left;
	width: 465px;
	margin-top: 1em;
}

#spells {
	float: right;
}

#items textarea, #spells textarea {
	width: 100%;
	height: 12.4em;
}

#notes {
	margin-top: 2.5em;
}

#notes textarea {
	width: 100%;
	height: 16.2em;
}

#submitDiv {
	text-align: center;
	margin-top: 1em;
}

/* --------------------------------------------*/

#page_characterSheet_dnd3_editFeatNotes {
	text-align: center;
}

#page_characterSheet_dnd3_editFeatNotes textarea {
	width: 450px;
	height: 8em;
}

#page_characterSheet_dnd3_featNotes #notes {
	margin-top: 0;
}