/*
	Gamers Plane Characters: D&D3/3.5 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

.cell {
	display: inline-block;
}

.viewCharacter .total {
	font-weight: bold;
}

h2 img {
	margin-bottom: 1em;
}

.labelTR label {
	font-size: .8em;
}

label {
	display: inline-block;
}

label.shiftRight {
	padding-left: 8px;
}

input[type="text"] {
	width: 40px;
	text-align: center;
}

.shortText, input.shortText {
	width: 100px;
	text-align: left;
}

.medText, input.medText {
	width: 200px;
	text-align: left;
}

.longText, input.longText {
	width: 350px;
	text-align: left;
}

.shortNum, input.shortNum {
	width: 40px;
}

.medNum, input.medNum {
	width: 60px;
}

label.leftLabel {
	font-size: 1em;
}

.lrBuffer {
	margin-right: 5px;
	margin-left: 5px;
}

.editCharacter .labelTR {
	padding-bottom: 0;
}

.viewCharacter .labelTR {
	padding: 0;
}

.viewCharacter .dataTR {
	margin-bottom: 1em;
}

.viewCharacter .dataTR > div {
	display: inline-block;
}

.editCharacter #label label {
	float: left;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1em;
}

.editCharacter #label div {
	width: 200px;
	text-align: right;
	font-size: .8em;
}

.editCharacter #size {
	width: 65px;
	text-align: center;
}

.editCharacter #levels {
	width: 75px;
}

#stats {
	margin: 1.5em 0 .5em;
	float: left;
}

.viewCharacter #stats {
	margin-top: 0;
}

.viewCharacter #stats .dataTR {
	margin-bottom: 0;
}

.editCharacter #stats .tr div {
	display: inline-block;
}

.viewCharacter #stats .dataTR .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

#saves, #init {
	float: left;
	margin: 1.5em 0 0 70px;
}

.viewCharacter #saves {
	margin-top: 0;
}

.viewCharacter #saves .dataTR {
	margin-bottom: 0;
}

#saves .labelTR label {
	text-align: center;
}

#saves label.leftLabel, #saves .fillerBlock {
	width: 75px;
}

.editCharacter #saves span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.viewCharacter #saves .dataTR > div {
	text-align: center;
}

#init .tr div {
	display: inline-block;
}

.editCharacter #hpCol, .editCharacter #combatBonuses {
	margin-top: 1.5em;
}

.viewCharacter #hpCol, .viewCharacter #combatBonuses {
	margin-top: 2.5em;
}

#hpCol {
	float: left;
}

#movement {
	margin: 1.5em 0 0 15px;
}

#movement label.first {
	margin-left: 70px;
}

#actionPoints {
	margin: 2.5em 0 0 15px;
}

#passiveSenses {
	margin: 2em 0 0 10px;
}

#passiveSenses .tr .leftLabel, #passiveSenses .labelFiller {
	width: 150px;
}

#combatBonuses {
	float: left;
	margin-left: 60px;
}

#combatBonuses .attackBonusSet {
	margin-top: 1em;
}

#combatBonuses .attackBonusSet:first-of-type {
	margin-top: 0;
}

.viewCharacter #combatBonuses .tr div {
	display: inline-block;
}

#combatBonuses span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#combatBonuses .ability {
	width: 366px;
	text-align: left;
}

#skills, #feats {
	margin-top: 1em;
}

#powers {
	margin-top: 2em;
}

.editCharacter .textareaDiv, .viewCharacter .textDiv {
	width: 465px;
	margin-top: 1em;
}

.editCharacter .textareaDiv textarea {
	height: 10em;
}

.editCharacter h2 a {
	margin-left: 10px;
	font-size: .6em;
	font-weight: normal;
	line-height: 1em;
}

#skills {
	width: 520px;
}

#addSkillWrapper {
	margin: 1em 0;
	position: relative;
}

#addSkillWrapper .fancyButton {
	top: -1px;
	margin-left: 5px;
	vertical-align: middle;
}

.skill span {
	display: inline-block;
}

.skill .skill_stat {
	text-transform: smallcaps;
}

.skill .skill_total {
	text-align: center;
}

#feats {
	width: 390px;
}

#addFeatWrapper {
	margin: 1em 0;
	position: relative;
}

#addFeatWrapper input {
}

#addFeatWrapper .fancyButton {
	top: -1px;
	margin-left: 5px;
	vertical-align: middle;
}

#feats span, #feats a {
	display: inline-block;
}

.editCharacter .feat_name {
	width: 260px;
}

.viewCharacter .feat_name {
	width: 350px;
}

.feat_notesLink {
	font-size: .8em;
}

#powers {
}

#addPowerWrapper {
	margin: 1em 0;
	position: relative;
}

#addPowerWrapper input {
}

#addPowerWrapper select {
}

#addPowerWrapper .fancyButton {
	top: -1px;
	margin-left: 5px;
	vertical-align: middle;
}

.powerCol {
	float: left;
	width: 32.6%;
	margin-left: 1%;
}

.powerCol.first {
	margin-left: 0;
}

.powerCol h3 {
	text-align: center;
}

.power span, .power a {
	display: inline-block;
}

.power .power_name {
	width: 250px;
}

#items textarea {
	width: 100%;
	height: 12.4em;
}

#notes textarea {
	width: 100%;
	height: 16.2em;
}

#submitDiv {
	text-align: center;
	margin-top: 1em;
}

/* --------------------------------------------*/

#page_characterSheet_dnd4_editFeatNotes {
    text-align: center;
}

#page_characterSheet_dnd4_editFeatNotes textarea {
    width: 450px;
    height: 8em;
}