/*
	Gamers Plane Characters: D&D3/3.5 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

.lrBuffer {
	margin-right: 5px;
	margin-left: 5px;
}

#page_characterSheet_edit #label_paragon {
	margin-left: 85px;
}

#stats {
	margin: 1.5em 0 .5em;
	float: left;
}

#page_characterSheet #stats {
	margin-top: 0;
}

#page_characterSheet #stats .dataTR {
	margin-bottom: 0;
}

#page_characterSheet_edit #stats .tr div {
	display: inline-block;
}

#page_characterSheet #stats .dataTR .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

#saves, #init {
	float: left;
	margin: 1.5em 0 0 70px;
}

#page_characterSheet #saves {
	margin-top: 0;
}

#page_characterSheet #saves .dataTR {
	margin-bottom: 0;
}

#saves .labelTR label {
	text-align: center;
}

#saves label.leftLabel, #saves .fillerBlock {
	width: 75px;
}

#page_characterSheet_edit #saves span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#page_characterSheet #saves .dataTR > div {
	text-align: center;
}

#init .tr div {
	display: inline-block;
}

#page_characterSheet_edit #hpCol, #page_characterSheet_edit #attacks {
	margin-top: 1.5em;
}

#page_characterSheet #hpCol, #page_characterSheet #attacks {
	margin-top: 2.5em;
}

#hpCol {
	float: left;
}

#movement {
	margin: 1.5em 0 0 15px;
}

#movement label.first {
	margin-left: 70px;
}

#actionPoints {
	margin: 2.5em 0 0 15px;
}

#passiveSenses {
	margin: 2em 0 0 10px;
}

#passiveSenses .tr .leftLabel, #passiveSenses .labelFiller {
	width: 150px;
}

#attacks {
	float: left;
	width: 485px;
	margin-left: 60px;
}

#attacks .attackBonusSet {
	margin-top: 1em;
}

#attacks .attackBonusSet:first-of-type {
	margin-top: 0;
}

#page_characterSheet #attacks .tr div {
	display: inline-block;
}

#attacks span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#attacks .ability {
	width: 366px;
	text-align: left;
}

#skills, #feats {
	margin-top: 1em;
}

#skills .lrBuffer {
	margin-left: 10px;
	margin-right: 10px;
}

#powers {
	margin-top: 2em;
}

#page_characterSheet_edit .textareaDiv, #page_characterSheet .textDiv {
	width: 465px;
	margin-top: 1em;
}

#page_characterSheet_edit .textareaDiv textarea {
	height: 10em;
}

.powerCol {
	float: left;
	width: 32.3%;
	margin-left: 1.5%;
}

.powerCol.first {
	margin-left: 0;
}

.powerCol h3 {
	text-align: center;
}

.power {
	padding-top: 0;
}

.power > * {
	display: inline-block;
	vertical-align: middle;
}

.power .power_name {
	width: 255px;
	text-align: left;
}

#items textarea {
	width: 100%;
	height: 12.4em;
}

#notes textarea {
	width: 100%;
	height: 16.2em;
}

/* --------------------------------------------*/

#page_characterSheet_dnd4_editFeatNotes {
    text-align: center;
}

#page_characterSheet_dnd4_editFeatNotes textarea {
    width: 450px;
    height: 8em;
}