/*
	Gamers Plane Characters: D&D3/3.5 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

.fillerBlock {
	display: inline-block;
}

#page_characterSheet_edit #size {
	width: 65px;
	text-align: center;
}

#page_characterSheet_edit #label_size {
	position: relative;
	left: -3px;
}

#page_characterSheet_edit #classWrapper {
	margin-right: 10px;
}

#page_characterSheet_edit #label_alignment {
	margin-left: 90px;
}

#page_characterSheet_edit #ps_alignment {
	vertical-align: top;
}

#stats, #skills, #feats {
	margin: 1.5em 0 .5em;
	float: left;
}

#abilityScoreLabels label {
	width: 40px;
	margin-left: 203px;
	text-align: center;
}

#page_characterSheet .abilityScore .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

.abilityScore div.stat, .abilityScore span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.abilityScore input {
	margin-right: 9px;
}

#page_characterSheet_edit .textareaDiv, #page_characterSheet .textDiv {
/*	width: 450px;*/
	margin-top: 1em;
}

#skills, #feats {
	margin-left: 10px;
}

#skills {
	width: 355px;
}

#feats {
	width: 330px;
}

#weapons, #armor {
	margin-top: 2em;
}

#weapons .remove, #armor .remove {
	font-size: .85em;
}

#weapons {
	width: 490px;
}

.weapon, .armor {
	margin: 10px 0 0;
	padding-top: 10px;
	border-top: 1px solid #777;
}

.weapon input, .armor input {
	text-align: center;
}

.weapon:first-child, .armor:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

#page_characterSheet #weapons span, #page_characterSheet #armor span {
	display: inline-block;
}

#page_characterSheet .weapon .lrBuffer {
	margin-right: 5px;
	margin-left: 0;
}

#page_characterSheet .armor .lrBuffer {
	margin-right: 2px;
	margin-left: 2px;
}

#page_characterSheet .weapon .labelTR, #page_characterSheet .armor .labelTR {
	padding-top: .5em;
}

#page_characterSheet .weapon .labelTR:first-child, #page_characterSheet .armor .labelTR:first-child {
	padding-top: 0;
}

.weapon .medText {
	width: 216px;
	text-align: left;
}

.weapon_secondRow label, #page_characterSheet .weapon_secondRow span, #page_characterSheet_edit .weapon_secondRow input {
	width: 98px;
}

input.weapon_notes, .weapon_notes {
	width: 469px;
	text-align: left;
}

#armor {
	width: 440px;
}

#page_characterSheet_edit .armor_firstRow label.shortText, #page_characterSheet .armor_firstRow .shortText, #page_characterSheet_edit .armor_firstRow input.shortText {
	width: 70px;
}

.armor .medText {
	width: 230px;
	text-align: left;
}

.armor_secondRow label, #page_characterSheet .armor_secondRow span, #page_characterSheet_edit .armor_secondRow input {
	width: 86px;
}

input.armor_notes, .armor_notes {
	width: 421px;
	text-align: left;
}

#items, #spells {
	float: left;
	width: 465px;
	margin-top: 1em;
}

#spells {
	float: right;
}

#items textarea, #spells textarea {
	width: 100%;
	height: 12.4em;
}

#notes {
	margin-top: 2.5em;
}

#notes textarea {
	width: 100%;
	height: 16.2em;
}