/*
	Gamers Plane Characters: D&D3/3.5 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

.fillerBlock {
	display: inline-block;
}

#page_characterSheet_edit #size {
	width: 65px;
	text-align: center;
}

#page_characterSheet_edit #label_size {
	position: relative;
	left: -3px;
}

#page_characterSheet_edit #classWrapper {
	margin-right: 10px;
}

#page_characterSheet_edit #label_alignment {
	margin-left: 90px;
}

#page_characterSheet_edit #ps_alignment {
	vertical-align: top;
}

#stats, #skills, #feats {
	margin: 1.5em 0 .5em;
	float: left;
}

#page_characterSheet #stats > .tr > * {
	display: inline-block;
}

.longerStatLabel {
	width: 130px;
}

#abilityScoreLabels label {
	width: 40px;
	margin-left: 203px;
	text-align: center;
}

#page_characterSheet #abilityScoreLabels label {
	margin-left: 195px;
}

#page_characterSheet .abilityScore .stat, #page_characterSheet .abilityScore .stat_mod {
	border-right: 1px solid #555;
}

#page_characterSheet .abilityScore .stat {
	border-left: 1px solid #555;
}

.abilityScore div.stat, .abilityScore span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.abilityScore input {
	margin-right: 9px;
}

#page_characterSheet_edit .textareaDiv, #page_characterSheet .textDiv {
/*	width: 450px;*/
	margin-top: 1em;
}

#skills, #feats {
	margin-left: 10px;
}

#skills {
	width: 355px;
}

#page_characterSheet #skills {
	width: 360px;
}

#feats {
	width: 330px;
}

#page_characterSheet_edit #skills .labelTR {
	padding: 0;
}

#page_characterSheet_edit .feat_name {
	width: 210px;
}

#page_characterSheet .skill_stat {
	width: 60px;
}

#weapons, #spells {
	margin-top: 2em;
}

#weapons .remove {
	font-size: .85em;
}

#weapons {
	width: 490px;
}

.weapon {
	margin: 10px 0 0;
	padding-top: 10px;
	border-top: 1px solid #777;
}

.weapon input {
	text-align: center;
}

.weapon:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

#page_characterSheet #weapons span {
	display: inline-block;
}

#page_characterSheet .weapon .lrBuffer {
	margin-right: 5px;
	margin-left: 0;
}

#page_characterSheet .weapon .labelTR {
	padding-top: .5em;
}

#page_characterSheet .weapon .labelTR:first-child {
	padding-top: 0;
}

.weapon .medText {
	width: 216px;
	text-align: left;
}

.weapon_secondRow label, #page_characterSheet .weapon_secondRow span, #page_characterSheet_edit .weapon_secondRow input {
	width: 98px;
}

input.weapon_notes, .weapon_notes {
	width: 469px;
	text-align: left;
}

#spells {
	width: 460px;
}

#spellStats > * {
	vertical-align: middle;
}

#spellStats .mainLabel {
	display: inline-block;
}

#spellStats .prettyCheckbox {
	margin-right: 0;
	margin-left: 10px;
}

#page_characterSheet_edit .spell_name {
	width: 280px;
	text-align: left;
}

#page_characterSheet .spell_name {
	width: 280px;
}

.spell span {
	display: inline-block;
}

.spell_notesLink {
	margin-left: 5px;
	font-size: .8em;
}

.spell textarea, .spell_notes {
	display: none;
	margin-top: .5em;
}

.spell textarea {
	width: 100%;
	height: 4.9em;
}

.spell_notes {
	padding: 4px;
	border: 1px solid #888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.spell_remove {
	margin-left: 5px;
}

#items {
	margin-top: 1em;
}

#items textarea {
	width: 100%;
	height: 12.4em;
}

#notes {
	margin-top: 2.5em;
}

#notes textarea {
	width: 100%;
	height: 16.2em;
}