/*
	Gamers Plane Characters: Dresden CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

textarea {
	width: 100%;
	height: 7.4em;
}

#basicInfo, #fpStats {
	label {
		font-size: 1em;
	}

	label, input, div {
		margin-right: 10px;
	}
}

#basicInfo input, #coreAspects input {
	text-align: left;
}

#coreAspects_labels, #page_characterSheet #coreAspects {
	padding-top: 0;
}

#coreAspects_labels, #coreAspects {
	& > * {
		margin-right: 10px;
	}
}

.remove {
	display: inline-block;
	margin-left: 5px;
}

#leftCol {
	width: 560px;
}

.phase {
	margin-top: .7em;

	input {
		width: 100%;
	}

	textarea {
		margin-top: .5em;
	}
}

#page_characterSheet .phase {
	padding: 5px 8px;
	border: 1px solid #000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	.aspect {
		margin-bottom: .4em;
	}
}

#rightCol {
	width: 380px;
}

#aspects input {
	text-align: left;
	width: 300px;
}

.withLabel {
	padding-top: 0;
}

#stunts {
	input, a {
		vertical-align: middle;
	}

	span.cost {
		text-align: center;
		width: 30px;
	}
}

#page_characterSheet_edit #stunts .name {
	width: 215px;
	text-align: left;
}

#page_characterSheet #stunts .name {
	width: 245px;
}

#stunts {
	.notesLink {
		margin-left: 5px;
		font-size: .8em;
	}

	.stunt textarea, .stunt .notes {
		display: none;
		margin-top: .5em;
	}

	.stunt textarea {
		width: 100%;
		height: 4.9em;
	}

	.stunt .notes {
		padding: 4px;
		border: 1px solid #888;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}

#skills {
	width: auto;

	h4 {
		font-family: "AgencyFB";
		font-size: 1.4em;
		line-height: 1.2em;
		margin-bottom: .35em;
	}

	.name {
		width: 245px;
	}

	span.rating {
		vertical-align: top;
	}
}

#skillPoints {
	margin-bottom: .4em;

	input, div {
		margin-left: 5px;
		margin-right: 10px;
	}

	div {
		display: inline-block;
	}
}

#stress {
	.stress {
		margin-top: .6em;
	}

	label {
		width: 110px;
	}
}

#page_characterSheet {
	.tr > * {
		display: inline-block;
	}

	.stressBox > * {
		display: inline-block;
		vertical-align: middle;
	}

	.prettyCheckbox {
		cursor: auto;
	}
}

textarea#notes {
	height: 15em;
	width: 912px;
}