/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

textarea {
	width: 100%;
	height: 7.4em;
}

#nameDiv, #fpStats {
	label {
		margin-right: 10px;
		font-size: 1em;
	}

	input {
		margin-right: 10px;
	}
}

#coreAspects_labels {
	padding-top: 0;
}

#coreAspects_labels, #coreAspects {
	& > * {
		margin-right: 10px;
	}
}

.remove {
	display: inline-block;
	margin-left: 5px;
}

#aspects {
	width: 330px;

	input {
		text-align: left;
	}
}

#aspects, #skills {
	float: left;
}

.aspect {
}

#skills {
	width: 340px;
}

#extras, #stunts {
	float: left;
	width: 50%;
}

#stunts {
	input, a {
		vertical-align: middle;
	}
}

#page_characterSheet_edit #stunts .name {
	width: 215px;
	text-align: left;
}

#page_characterSheet #stunts .name {
	width: 245px;
}

#stunts {
	.notesLink {
		margin-left: 5px;
		font-size: .8em;
	}

	.stunt textarea, .stunt .notes {
		display: none;
		margin-top: .5em;
	}

	.stunt textarea {
		width: 100%;
		height: 4.9em;
	}

	.stunt .notes {
		padding: 4px;
		border: 1px solid #888;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}

.sidebar {
	width: 265px;
}

#stress {
	h3 > * {
		display: inline-block;
		vertical-align: middle;
	}

	h3 a {
		font-size: .6em;
	}

	.track > * {
		display: inline-block;
		vertical-align: middle;
	}
}

#mentalStress {
	margin-top: 1em;
}

#page_characterSheet {
	.tr > * {
		display: inline-block;
	}

	.stressBox > * {
		display: inline-block;
		vertical-align: middle;
	}

	.prettyCheckbox {
		cursor: auto;
	}
}

textarea#notes {
	height: 15em;
	width: 912px;
}