/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#nameDiv label {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}

#nameDiv input {
	width: 200px;
}

.twoCol {
	width: 465px;
	margin-top: 1em;
}

#stats .statCol {
	float: left;
	width: 120px;
}

#stats .largeCol {
	width: 200px;
}

#stats .tr > * {
	vertical-align: middle;
}

#stats label {
	width: 40px;
	font-size: 1.2em;
}

#stats .largeCol label {
	width: 120px;
	font-size: .85em;
}

#stats .tr > div {
	display: inline-block;
	width: 30px;
	padding: 5px;
	text-align: center;
	border: 1px solid #888;
}

#stats .largeCol .tr > div {
	font-size: 1em;
}

#langDiv {
	margin-top: 0;
}

#langDiv textarea {
	height: 5.7em;
}

textarea {
	height: 12.4em;
}

#notesDiv {
	margin-top: 1.5em;
}

#notesDiv textarea {
	height: 10em;
}