/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#nameDiv label {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}

#nameDiv input {
	width: 200px;
}

#stats {
	float: left;
	width: 500px;
}

#stats .statCol {
	float: left;
	width: 60px;
}

#stats .largeCol {
	width: 140px;
	font-size: .7em;
}

#stats .statCol .statRow {
	text-align: center;
	padding: 6px 0;
}

.editCharacter #stats .statCol .blank {
	padding: 9px 0;
}

.editCharacter #stats .statCol label.statRow {
	font-size: 1.3em;
	padding: 9px 0;
}

.editCharacter #stats .largeCol label.statRow {
	padding: 9px 0;
}

#stats .statCol .statRow input {
	width: 40px;
	text-align: center;
}

#langDiv {
	width: 390px;
}

#langDiv textarea {
	height: 5.7em;
}

.twoCol {
	width: 465px;
	margin-top: 1em;
}

textarea {
	width: 100%;
	height: 12.4em;
}

#notesDiv {
	margin-top: 1.5em;
}

#notesDiv textarea {
	width: 920px;
	height: 10em;
}

#submitDiv {
	margin-top: 1em;
	text-align: center;
}