/*
	Gamers Plane Characters: AFMBE CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#basicInfo {
	& > * {
		margin-right: 10px;
	}

	label {
		display: inline-block;
		text-align: right;
	}
}
