/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#nameDiv label {
	display: block;
	float: left;
	width: 70px;
	text-align: right;
	margin-right: 10px;
}

#nameDiv input {
	width: 200px;
}

#page_characterSheet_edit textarea {
	width: 100%;
	height: 6.2em;
}

.statDiv {
	position: relative;
	margin-bottom: 1.3em;
}

#page_characterSheet .statDiv {
	border-top: 1px solid #AAA;
}

.trait, .skillHeader, .skills > * {
	padding: 0 8px;
}

.trait {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #DDD;
}

.trait > * {
	display: inline-block;
	vertical-align: middle;
}

.traitName {
	width: 115px;
}

.diceSelect > * {
	vertical-align: middle;
}

.skillHeader {
	margin: .3em 0;
	font-size: .85em;
	font-variant: small-caps;
}

.twoCol {
	float: left;
	width: 330px;
	margin-right: 15px;
}

.lastTwoCol {
	margin-right: 0;
}

#fatigueDiv {
	margin-top: .5em;
	text-align: center;
}

#windDiv input {
	width: 30px;
	text-align: center;
}

.leftTitle {
	text-align: left;
	margin-top: 1.5em;
}

#page_characterSheet_edit #notes {
	height: 20em;
	width: 912px;
}

#page_characterSheet_edit #submitDiv {
	clear: both;
	text-align: center;
	margin-top: 1em;
}