/*
	Gamers Plane Characters: spycraft2 CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_characterSheet_edit #label_talent {
	margin-left: 90px;
}

#stats, #savingThrows, #hp, #ac {
	margin: 1.5em 0 .5em;
	float: left;
}

#stats {
	margin-top: 2em;
}

#page_characterSheet #stats .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

#stats div.stat, #stats span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#savingThrows, #hp, #ac {
	margin-left: 50px;
}

#savingThrows .labelTR div {
	display: inline-block;
}

#savingThrows .labelTR label {
	text-align: center;
}

#savingThrows .labelTR div, #savingThrows label.leftLabel {
	width: 75px;
}

#page_characterSheet_edit #savingThrows span {
	display: inline-block;
	text-align: center;
}

#page_characterSheet #savingThrows .dataTR > div {
	text-align: center;
}

#hp label {
	width: 80px;
	margin-right: 10px;
}

#hp input {
	margin-right: 20px;
}

#hp .tr label {
	width: 80px;
}

#page_characterSheet #hp .tr div {
	display: inline-block;
}

#ac label, #page_characterSheet #ac .dataTR div {
	text-align: center;
}

#page_characterSheet #ac .first {
	margin-right: 10px;
}

#page_characterSheet #ac .labelTR .first {
	margin-right: 60px;
}

#page_characterSheet_edit #ac .labelTR .first {
	margin-right: 57px;
}

#ac_total, #ac .first {
	width: 55px;
}

#page_characterSheet_edit #ac span {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#combatBonuses, #actionDie, #extraStats {
	float: left;
	margin-top: 1.5em;
}

#combatBonuses .labelTR div, #actionDie .labelTR div {
	display: inline-block;
}

#page_characterSheet #combatBonuses .dataTR div, #combatBonuses .labelTR label {
	text-align: center;
}

#combatBonuses label.leftLabel {
	text-align: right;
}

#combatBonuses span {
	display: inline-block;
	text-align: center;
}

#actionDie, #extraStats {
	float: left;
	margin-left: 50px;
}

#page_characterSheet #actionDie, #page_characterSheet #extraStats {
	width: 400px;
}

#actionDie .labelTR label, #extraStats .labelTR label {
	text-align: center;
}

#extraStats .labelTR .shortText {
	text-align: left;
	font-variant: small-caps;
}

#extraStats span, #page_characterSheet #actionDie span {
	display: inline-block;
	text-align: center;
}

h2 a {
	margin-left: 10px;
	font-size: .6em;
	font-weight: normal;
	line-height: 1em;
}

#skills, #feats {
	margin-top: 1em;
}

#weapons, #armor {
	margin-top: 2em;
}

textarea {
	width: 100%;
	height: 10em;
}

#addSkillWrapper {
	margin: 1em 0;
	position: relative;
}

#addSkillWrapper .fancyButton, #addFocusWrapper .fancyButton, #addFeatWrapper .fancyButton {
	top: -1px;
	margin-left: 5px;
	vertical-align: middle;
}

.skill span {
	display: inline-block;
}

#skills .skill_name {
	width: 150px;
}

.skill .skill_stat {
	font-variant: small-caps;
}

.skill .skill_total {
	text-align: center;
}

#focuses {
	float: left;
	width: 450px;
	margin-top: 30px;
}

#addFocusWrapper {
	margin: 1em 0;
	position: relative;
}

#focusName {
	width: 250px;
}

#noFocuses {
	text-align: left;
}

#focuses span {
	display: inline-block;
	vertical-align: middle;
}

#focuses input[type="checkbox"] {
	vertical-align: middle;
}

.focus_name {
	width: 300px;
	text-align: left;
	vertical-align: middle;
}

#page_characterSheet .focus_name {
	width: 310px;
}

#feats {
	float: right;
	width: 450px;
	margin-top: 30px;
}

#addFeatWrapper {
	margin: 1em 0;
	position: relative;
}

#featName {
	width: 250px;
}

#noFeats {
	text-align: left;
}

#feats .feat span, #feats .feat a {
	display: inline-block;
	vertical-align: middle;
}

.feat_name {
	width: 310px;
	margin-right: 3px;
	text-align: left;
}

#page_characterSheet .feat_name {
	width: 350px;
}

.feat_notesLink {
	font-size: .8em;
}

#weapons {
	width: 460px;
}

.weapon, .armor {
	margin: 10px 0 0;
	padding-top: 10px;
	border-top: 1px solid #777;
}

.weapon:first-child, .armor:first-child {
	margin-top: 0;
	border-top: none;
}

.weapon .shortText, .armor .shortText {
	text-align: center;
}

#page_characterSheet #weapons span, #page_characterSheet #armor span {
	display: inline-block;
}

#page_characterSheet .weapon .labelTR, #page_characterSheet .armor .labelTR {
	padding-top: .5em;
}

#page_characterSheet .weapon .labelTR:first-child, #page_characterSheet .armor .labelTR:first-child {
	padding-top: 0;
}

.weapon .medText {
	width: 185px;
}

.weapon_firstRow .shortText {
	width: 90px;
}

.weapon_secondRow input, .weapon_secondRow label, #page_characterSheet .weapon_secondRow span {
	width: 67px;
}

input.weapon_notes, .weapon_notes {
	width: 436px;
	text-align: left;
}

#armor {
	width: 480px;
}

.armor .medText {
	width: 223px;
}

.armor_firstRow .shortText {
	width: 90px;
}

.armor_secondRow input, .armor_secondRow label, #page_characterSheet .armor_secondRow span {
	width: 95px;
}

input.armor_notes, .armor_notes {
	width: 456px;
	text-align: left;
}

#items {
	margin-top: 1.5em;
}

#items textarea {
	height: 12.4em;
}

#notes textarea {
	height: 16.2em;
}
