/*
	Gamers Plane Characters: Spycraft CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/


#label_department {
	margin-left: 90px;
}

#stats, #savingThrows, #hp, #ac {
	margin: 1.5em 0 .5em;
	float: left;
}

#stats {
	margin-top: 2em;
}

#page_characterSheet #stats .stat {
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

#stats div.stat, #stats span {
	display: inline-block;
	width: 40px;
	text-align: center;
}

#savingThrows, #hp, #ac {
	margin-left: 50px;
}

#savingThrows .labelTR label {
	text-align: center;
}

#savingThrows .leftLabel, #savingThrows .fillerBlock {
	width: 75px;
}

#savingThrows span {
	display: inline-block;
	text-align: center;
}

#page_characterSheet #savingThrows .dataTR > div {
	text-align: center;
}

#hp {
	margin-top: 3em;
}

#hp label {
	width: 80px;
	margin-right: 10px;
}

#hp input, #hp .tr div {
	margin-right: 20px;
}

#hp .tr div {
	display: inline-block;
}

#ac label, #page_characterSheet #ac .dataTR div {
	text-align: center;
	width: 60px;
}

#ac span {
	display: inline-block;
	width: 60px;
	text-align: center;
}

.col {
	float: left;
}

#combatBonuses {
	margin-top: 1.5em;
}

#combatBonuses .labelTR div {
	display: inline-block;
}

#combatBonuses .labelTR label {
	text-align: center;
}

#combatBonuses label.leftLabel {
	text-align: right;
}

#combatBonuses span {
	display: inline-block;
	text-align: center;
}

#actionDie, #extraStats {
	margin-top: 2em;
}

#actionDie .labelTR label, #extraStats .labelTR label {
	text-align: center;
}

#actionDie span, #actionDie .tr div, #extraStats span, #extraStats .tr div {
	display: inline-block;
	text-align: center;
}

#feats {
	margin-top: 1em;
	width: 520px;
}

#addFeatWrapper {
	margin: 1em 0;
	position: relative;
}

#addFeatWrapper label {
}

#addFeatWrapper input {
}

#addFeatWrapper .fancyButton, #addSkillWrapper .fancyButton {
	top: -1px;
	margin-left: 5px;
	vertical-align: middle;
}

#noFeats {
	text-align: left;
}

#feats span, #feats a {
	display: inline-block;
}

.feat_name {
	width: 380px;
	text-align: left;
}

.feat_notesLink {
	font-size: .8em;
}

h2 a {
	margin-left: 10px;
	font-size: .6em;
	font-weight: normal;
	line-height: 1em;
}

#skills {
	margin-top: 1em;
}

textarea {
	width: 100%;
	height: 10em;
}

#skills {
	width: 680px;
}

#addSkillWrapper {
	margin: 1em 0;
	position: relative;
}

.skill span {
	display: inline-block;
}

.skill_name {
	width: 150px;
}

.skill_stat {
	font-variant: small-caps;
}

.skill_total {
	text-align: center;
}

#weapons, #armor {
	margin-top: 2em;
}

#weapons .remove, #armor .remove {
	font-size: .85em;
}

#weapons {
	width: 490px;
}

#page_characterSheet #weapons > div {
	width: 455px;
	margin: 0 auto;
}

.weapon, .armor {
	margin: 0 0 10px;
	padding-top: 10px;
	border-top: 1px solid #777;
}

.weapon input, .armor input {
	text-align: center;
}

.weapon:first-child, .armor:first-child {
	padding-top: 0;
	border-top: none;
}

#page_characterSheet #weapons span, #page_characterSheet #armor span {
	display: inline-block;
}

#page_characterSheet .weapon .lrBuffer {
	margin-right: 4px;
	margin-left: 4px;
}

#page_characterSheet .armor .lrBuffer {
	margin-right: 2px;
	margin-left: 2px;
}

#page_characterSheet .weapon .labelTR, #page_characterSheet .armor .labelTR {
	padding-top: .5em;
}

#page_characterSheet .weapon .labelTR:first-child, #page_characterSheet .armor .labelTR:first-child {
	padding-top: 0;
}

.weapon .medText {
	width: 220px;
	text-align: left;
}

.weapon_secondRow label, .weapon_secondRow input, .weapon_secondRow span {
	width: 74px;
}

.weapon input.weapon_notes {
	width: 470px;
	text-align: left;
}

#armor {
	width: 420px;
}

#page_characterSheet #armor > div {
	width: 375px;
	margin: 0 auto;
}

.armor .medText {
	width: 209px;
	text-align: left;
}

.armor_firstRow label.shortText, .armor_firstRow input.shortText, .armor_firstRow .shortText {
	width: 70px;
}

.armor_secondRow label, .armor_secondRow input, .armor_secondRow span {
	width: 81px;
}

input.armor_notes, .armor_notes {
	width: 400px;
	text-align: left;
}

#items {
	margin-top: 1.5em;
}

#items textarea {
	height: 12.4em;
}

#notes textarea {
	height: 16.2em;
}