/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#nameDiv label {
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

table {
	width: 752px;
	margin: 0 auto;
}

#attributes input {
	margin: 0;
}

#attributes th, #attributes td {
	padding: .5em 2px;
}

#attributes th {
	text-align: right;
	width: 100px;
}

#attributes td.statName {
	width: 100px;
	padding-left: 20px;
}

#attributes td.statVal {
	padding: 9px 2px 3px;
	width: 90px;
}

.dots {
	width: 75px;
	height: 13px;
	background: url('../../images/wod_dots.png') top left repeat-x;
}

.dots div {
	width: 0;
	height: 13px;
	background: url('../../images/wod_dots.png') bottom left repeat-x;
}

.dots .dotCount_1 {
	width: 15px;
}

.dots .dotCount_2 {
	width: 30px;
}

.dots .dotCount_3 {
	width: 45px;
}

.dots .dotCount_4 {
	width: 60px;
}

.dots .dotCount_5 {
	width: 75px;
}

.marginTop {
	margin-top: 1em;
}

#skills {
	float: left;
	margin-top: 1.5em;
	width: 320px;
}

#skills .headerbar, #otherTraits .headerbar {
	margin-top: 0;
}

h3 {
	text-align: center;
	color: #A00;
}

.skillSet {
	margin-top: 1em;
}

#skills_mental {
	margin-top: 0;
}

.viewCharacter h3, #skills p {
	text-align: center;
}

#skills p {
	margin: 0;
}

#skills .tr {
	position: relative;
	padding: 0;
	margin: .5em 0;
}

#skills label {
	display: inline-block;
	width: 122px;
}

.editCharacter #skills .skillRank {
	display: inline-block;
	width: 143px;
}

.viewCharacter #skills .tr .skillRank {
	position: absolute;
	bottom: 0;
	right: 0;
}

#skills span {
	margin: 0 3px;
}

#skills input {
	position: relative;
	top: 2px;
	margin: 0;
}

#otherTraits {
	float: right;
	width: 610px;
	margin-top: 1.5em;
}

#otherTraits .col {
	width: 270px;
}

textarea {
	width: 100%;
}

#merits textarea {
	height: 10em;
}

#flaws textarea {
	height: 6.2em;
}

#health, #willpower, #morality {
	float: left;
	width: 33%;
}

#otherTraits label {
	display: inline-block;
	width: 130px;
	margin-left: 50px;
}

#otherTraits input, #otherTraits .tr div {
	width: 30px;
	text-align: center;
}

#otherTraits .tr div {
	display: inline-block;
}

#itemsDiv {
	float: left;
	width: 600px;
	margin-top: 1em;
}


.editCharacter #itemsDiv {
	float: left;
}

#weapons textarea, #equipment textarea {
	height: 7.3em;
}

#notes textarea {
	height: 10em;
}

.editCharacter #submitDiv {
	text-align: center;
	margin-top: 1em;
}