/*
	Gamers Plane Characters: Deadlands CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_characterSheet_wod_edit #nameDiv label, #page_characterSheet_wod_sheet #nameDiv label {
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

#page_characterSheet_wod_edit #attributes table, #page_characterSheet_wod_sheet #attributes table {
	width: 752px;
	margin: 0 auto;
}

#page_characterSheet_wod_edit #attributes input, #page_characterSheet_wod_sheet #attributes input {
	margin: 0;
}

#page_characterSheet_wod_edit #attributes th, #page_characterSheet_wod_edit #attributes td, #page_characterSheet_wod_sheet #attributes th, #page_characterSheet_wod_sheet #attributes td {
	padding: .5em 2px;
}

#page_characterSheet_wod_edit #attributes th, #page_characterSheet_wod_sheet #attributes th {
	text-align: right;
	width: 100px;
}

#page_characterSheet_wod_edit #attributes td.statName, #page_characterSheet_wod_sheet #attributes td.statName {
	width: 100px;
	padding-left: 20px;
}

#page_characterSheet_wod_edit #attributes td.statVal, #page_characterSheet_wod_sheet #attributes td.statVal {
	padding: 9px 2px 3px;
	width: 90px;
}

#page_characterSheet_wod_edit .marginTop, #page_characterSheet_wod_sheet .marginTop {
	margin-top: 1em;
}

#page_characterSheet_wod_edit .triCol, #page_characterSheet_wod_sheet .triCol {
	float: left;
	width: 290px;
	margin-right: 20px;
}

#page_characterSheet_wod_edit .lastCol, #page_characterSheet_wod_sheet .lastCol {
	margin-right: 0;
}

#page_characterSheet_wod_edit #leftCol, #page_characterSheet_wod_sheet #leftCol {
	margin-top: 1.5em;
}

#page_characterSheet_wod_edit #leftColHeader, #page_characterSheet_wod_sheet #leftColHeader {
	margin-top: 0;
}

#page_characterSheet_wod_edit h3, #page_characterSheet_wod_edit #leftCol p, #page_characterSheet_wod_sheet h3, #page_characterSheet_wod_sheet #leftCol p {
	text-align: center;
}

#page_characterSheet_wod_edit #leftCol p, #page_characterSheet_wod_sheet #leftCol p {
	margin: 0;
}

#page_characterSheet_wod_edit #leftCol .tr, #page_characterSheet_wod_sheet #leftCol .tr {
	position: relative;
	padding: 0;
	margin: .5em 0;
}

#page_characterSheet_wod_edit #leftCol .tr .skillRank {
	position: absolute;
	top: 0;
	right: 0;
}

#page_characterSheet_wod_sheet #leftCol .tr .skillRank {
	position: absolute;
	bottom: 0;
	right: 0;
}

#page_characterSheet_wod_edit #leftCol .tr input, #page_characterSheet_wod_sheet #leftCol .tr input {
	margin: 0;
}

#page_characterSheet_wod_edit #rightColHeader, #page_characterSheet_wod_sheet #rightColHeader {
	float: right;
	margin-top: 1.5em;
	width: 610px;
}

#page_characterSheet_wod_edit .triCol textarea {
	width: 282px;
	margin-top: .5em;
}

#page_characterSheet_wod_edit #merits {
	height: 10em;
}

#page_characterSheet_wod_edit #flaws {
	height: 6.2em;
}

#page_characterSheet_wod_edit .rightCol .tr, #page_characterSheet_wod_sheet .rightCol .tr{
	position: relative;
}

#page_characterSheet_wod_edit .rightCol .tr {
	height: 20px;
}

#page_characterSheet_wod_edit .rightCol label {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
}

#page_characterSheet_wod_edit .rightCol .tr input, #page_characterSheet_wod_edit #health, #page_characterSheet_wod_edit #willpower, #page_characterSheet_wod_edit #morality {
	width: 30px;
}

#page_characterSheet_wod_edit .rightCol .tr input, #page_characterSheet_wod_sheet .rightCol .tr .value {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}

#page_characterSheet_wod_sheet .rightCol .tr .value {
	padding-top: 5px;
}

#page_characterSheet_wod_edit #itemsDiv, #page_characterSheet_wod_sheet #itemsDiv {
	float: left;
	width: 600px;
	margin-top: 1em;
}

#page_characterSheet_wod_edit .lastCol h3, #page_characterSheet_wod_edit #itemsDiv h3, #page_characterSheet_wod_sheet .lastCol h3, #page_characterSheet_wod_sheet #itemsDiv h3 {
	margin-bottom: .75em;
}

#page_characterSheet_wod_edit #health, #page_characterSheet_wod_edit #willpower, #page_characterSheet_wod_edit #morality {
	text-align: center;
}

#page_characterSheet_wod_edit #itemsDiv {
	float: left;
}

#page_characterSheet_wod_edit #weapons, #page_characterSheet_wod_edit #equipment {
	width: 592px;
	height: 7.3em;
}

#page_characterSheet_wod_edit #notes {
	width: 912px;
	height: 10em;
}

#page_characterSheet_wod_edit #submitDiv {
	clear: both;
	text-align: center;
	margin-top: 1em;
}