<div class="permissionSet tr">
	<div class="clearfix">
		<div class="permission_label">{{permission.type != 'general'?permission.name:'General'}}</div>
		<a href="" ng-click="togglePermissionsEdit(permission)">[ Edit ]</a>
		<a ng-if="!(permission.type == 'general' || (permission.gameGroup && details.isGameForum))" href="/forums/acp/{{forumID}}/deletePermission/{{permission.type}}/{{permission.id}}/" class="permission_delete">[ Delete ]</a>
	</div>
	<div ng-show="editingPermission == permission.ref" class="permissions">
		<div ng-repeat="pType in permissionTypes" ng-if="!(permission.type == 'general' && pType.key == 'moderate')" class="tr clearfix">
			<div class="permission_type textLabel">{{pType.label}}</div>
			<div class="option yes" ng-class="{ 'selected': permission[pType.key] > 0 }" ng-click="changePermission(permission.ref, pType.key, 1)">Yes</div>
			<div class="option inherit" ng-class="{ 'selected': permission[pType.key] == 0 }" ng-click="changePermission(permission.ref, pType.key, 0)">Inherit</div>
			<div class="option no" ng-class="{ 'selected': permission[pType.key] < 0 }" ng-click="changePermission(permission.ref, pType.key, -1)">No</div>
		</div>
		<div class="permissionSave"><button type="submit" class="fancyButton" ng-click="savePermission(permission)" skew-element>Save</button></div>
	</div>
</div>
