[mysqld]
mysql_native_password=ON
authentication_policy=mysql_native_password

default_storage_engine = InnoDB

slow_query_log=ON
slow_query_log_file=/var/log/mysql/mysql-slow.log
log_queries_not_using_indexes=ON

# MY-013360 - mysql_native_password notice
log_error_suppression_list='MY-013360'

innodb_buffer_pool_size=1G
innodb_flush_log_at_trx_commit=1

thread_cache_size = 8
