/*
	Gamers Plane ACP CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#acpMenu ul {
	margin-left: 0;
	list-style: none;
}

#acpMenu li {
	margin-top: .3em;
}

#acpMenu li:first-of-type {
	margin-top: 0;
}

#acpMenu a, #acpMenu a:visited, #acpMenu a:active {
	display: block;
	color: #FFF;
}

#newItems {
	.tr {
		padding-top: 0;
	}

	.headerTR {
		font-variant: small-caps;
	}

	& > div > * {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.type {
		width: 80px;
	}

	.name {
		width: 250px;
	}

	.addedBy {
		width: 150px;
	}

	.actions > * {
		margin-right: 5px;
	}
}