/*
	Gamers Plane ACP CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#acpMenu ul, #page_acp ul {
	margin-left: 0;
	list-style: none;
}

#acpMenu li {
	margin-top: .3em;
}

#acpMenu li:first-of-type {
	margin-top: 0;
}

#acpMenu a, #acpMenu a:visited, #acpMenu a:active {
	display: block;
	color: #FFF;
}

#newItems, #addToSystem {
	.tr {
		padding-top: 0;
	}

	.headerTR {
		font-variant: small-caps;
	}

	.typeHeader {
		margin-bottom: 3px;
		padding: 3px 5px;
		background: #444;
		color: #FFF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	& > div > * {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.type {
		width: 85px;
	}

	.name {
		width: 180px;
	}

	.addedBy {
		width: 150px;
	}

	.actions > * {
		margin-right: 5px;
	}
}

#addToSystem {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #999;
}

#addToSystem .system {
	width: 200px;
}