/*
	Gamers Plane Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_myCharacters .alertBox_error {
	padding-top: 8px;
	padding-bottom: 8px;
}

#page_myCharacters h2 {
	margin-top: 0;
}

#page_myCharacters .hbAttachedList > li {
	padding: 5px 8px;
}

#page_myCharacters .hbAttachedList > li:hover {
	padding: 4px 7px;
}

#page_myCharacters .hbAttachedList > li:first-child:hover {
	padding: 5px 7px 4px;
}

#page_myCharacters .hbAttachedList li > * {
	vertical-align: middle;
}

#page_myCharacters .label, #page_myCharacters .charType, #page_myCharacters .systemType {
	display: inline-block;
	padding: 0 15px;
	border-right: 1px solid #666;
}

#page_myCharacters .label {
	width: 200px;
	padding-left: 5px;
}

#page_myCharacters .charType {
	width: 30px;
	text-align: center;
}

#page_myCharacters .systemType {
	width: 220px;
	text-align: center;
}

#page_myCharacters .links, #page_myCharacters .owner {
	display: inline-block;
	margin-left: 15px;
}

#page_myCharacters .links a {
	margin-right: 10px;
}

#page_myCharacters .noItems {
	margin: 1.5em 0;
	font-size: 1.3em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
}

#page_myCharacters .unfavorite {
	display: inline-block;
	height: 20px;
}

#page_myCharacters #libraryFavorites, #page_myCharacters #newChar {
	margin-top: 2em;
}

#page_myCharacters #newChar .tr > * {
	vertical-align: middle;
}

#page_myCharacters #newChar label {
	width: 120px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1em;
}

#page_myCharacters #newChar input[type="text"] {
	width: 200px;
	text-align: left;
}

#page_myCharacters #newChar .buttonPanel {
	margin-left: 120px;
}

/* --------------------------------------------*/

#page_editBasic p {
	margin-left: 80px;
}

#page_editBasic label {
	display: inline-block;
	width: 45px;
}

#page_editBasic .fancyButton, #page_deleteCharacter .fancyButton {
	margin-top: .5em;
}

/* --------------------------------------------*/

#page_charLibrary #filterChars .tr:first-child {
	padding-top: 0;
}

#page_charLibrary #filterChars input[type="text"] {
	width: 212px;
}

#page_charLibrary #filterChars > ul {
	margin: .5em 0 1em;
	clear: both;
	list-style: none;
}

#page_charLibrary #filterChars li {
	padding: 0.1em 0
}

#page_charLibrary label {
	font-size: 1em;
	display: inline;
}

#page_charLibrary h1 {
	margin: 0;
}

#page_charLibrary .charLabel, #page_charLibrary .systemType, #page_charLibrary .playerLink {
	display: inline-block;
	vertical-align: middle;
}

#page_charLibrary .charLabel {
	width: 180px;
	padding-right: 15px;
	border-right: 1px solid #999;
}

#page_charLibrary .systemType {
	width: 180px;
	padding: 0 15px;
	border-right: 1px solid #999;
	text-align: center;
}

#page_charLibrary .playerLink {
	width: 180px;
	padding-left: 15px;
}

#page_charLibrary #noResults {
	margin: 2em 0;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;
}

/* --------------------------------------------*/

#page_characterSheet h1.headerbar, #page_characterSheet_edit h1.headerbar {
	margin-bottom: 0;
}

#sheetActions > div {
	background-color: #AAA;
	padding: 3px 5px;
}

#sheetActions .wing {
	float: none;
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: #AAA;
	border-right-color: transparent;
	background: none;
}

#sheetActions .ulWing {
	left: 0;
	border-left-color: transparent;
}

#sheetActions .urWing {
	right: 0;
	border-right-color: transparent;
}

#sheetActions a {
	margin: 0 5px;
}

#charSheetLogo {
	margin: 1em 0;
	text-align: center;
}

#charDetails {
	margin-top: 1em;
}

#noCharFound {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}

#page_characterSheet_edit #charAvatar {
	text-align: right;
}

#page_characterSheet_edit #charAvatar div {
	vertical-align: middle;
}

.tr > * {
	vertical-align: middle;
}

.textLabel {
	padding: 0;
}

#page_characterSheet_edit h2 a {
	margin-left: 10px;
	font-size: .6em;
	font-weight: normal;
	line-height: 1em;
}

#page_characterSheet_edit #label_levels {
	position: relative;
	left: -2px;
}

#page_characterSheet_edit #levels {
	width: 75px;
}

#classWrapper {
	position: relative;
	display: inline-block;
	padding-right: 80px;
	vertical-align: top;
}

#classWrapper a {
	position: absolute;
	top: 1em;
	right: 0;
	font-size: .8em;
}

#classWrapper .classSet {
	margin-top: .5em;
}

#classWrapper .classSet:first-of-type {
	margin-top: 0;
}

#submitDiv {
	text-align: center;
	margin-top: 1em;
}

.cell {
	display: inline-block;
}

label {
	font-size: .8em;
	display: inline-block;
}

label.shiftRight {
	padding-left: 8px;
}

input[type="text"] {
	width: 40px;
	text-align: center;
}

.shortText, input.shortText, .width3, input.width3 {
	width: 100px;
}

.medText, input.medText, .width4, input.width4 {
	width: 200px;
}

.width5, input.width5 {
	width: 250px;
}

.longText, input.longText, .width6, input.width6 {
	width: 350px;
}

input.shortText, input.medText, input.longText, input.alignLeft {
	text-align: left;
}

.shortNum, input.shortNum, .width1, input.width1 {
	width: 40px;
}

.medNum, input.medNum, .width2, input.width2 {
	width: 60px;
}

.statSelect {
	.width3;
}

.statSelect > * {
	vertical-align: middle;
}

#page_characterSheet .statSelect > * {
	display: inline-block;
}

#page_characterSheet .statShort {
	width: 50px;
}

label.leftLabel {
	font-size: 1em;
}

.lrBuffer {
	margin-right: 9px;
	margin-left: 9px;
}

#page_characterSheet_edit .labelTR {
	padding-bottom: 0;
}

#page_characterSheet .labelTR {
	padding: 0;
}

#page_characterSheet .dataTR {
	margin-bottom: 1em;
}

#page_characterSheet .dataTR > div {
	display: inline-block;
}

#skills {
	width: 555px;
}

.skill {
	padding: 2px 0;
}

.feat {
	padding: 4px 0;
}

.skill > *, .feat > * {
	vertical-align: middle;
}

.skill .skill_total {
	text-align: center;
}

#feats {
	width: 385px;
}

.skill > span, .skill > a, .feat > span, .feat > a {
	display: inline-block;
}

#page_characterSheet_edit .feat_name {
	width: 265px;
	text-align: left;
}

#page_characterSheet .feat_name {
	width: 295px;
}

.feat_notesLink {
	margin-left: 5px;
	font-size: .8em;
}

.feat textarea, .notes {
	display: none;
	margin-top: .5em;
}

.feat textarea {
	width: 100%;
	height: 4.9em;
}

.feat .notes {
	padding: 4px;
	border: 1px solid #888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.feat_remove {
	margin-left: 5px;
}

/* --------------------------------------------*/

#page_charAvatar {
	#avatar {
		display: block;
		margin: 0 auto;
		border: 1px solid #666;

		&.noAvatar {
			height: 150px;
			width: 150px;
		}

		p {
			margin: 0;
			line-height: 150px;
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
		}
	}

	#delete > * {
		vertical-align: middle;
	}
}