/*
	Gamers Plane Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_myCharacters .alertBox_error {
	padding-top: 8px;
	padding-bottom: 8px;
}

#page_myCharacters #characterList {
	margin-bottom: 2em;
}

#page_myCharacters #characterList .tr {
	padding-left: 15px;
}

#page_myCharacters #characterList .tr:hover {
	background: #EEE;
}

#page_myCharacters #characterList .charLabel {
	display: block;
	float: left;
	width: 250px;
	border-right: 1px solid #666;
}

#page_myCharacters #characterList .systemType {
	float: left;
	width: 220px;
	border-right: 1px solid #999;
	text-align: center;
}

#page_myCharacters #characterList .charLinks {
	margin-left: 490px;
}

#page_myCharacters #characterList .charLinks a {
	margin-right: 20px;
}

#page_myCharacters .noItems {
	margin: 1.5em 0;
	font-size: 1.3em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
}

#page_myCharacters #newChar label {
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1em;
}

#page_myCharacters #newChar input[type="text"] {
	width: 200px;
}

#page_myCharacters #newChar .fancyButton {
	margin-left: 165px;
}

/* --------------------------------------------*/

#page_editLabel .fancyButton, #page_deleteCharacter .fancyButton {
	margin-top: .5em;
}

/* --------------------------------------------*/

#charSheetLogo {
	margin: 1em 0;
	text-align: center;
}

#editCharacter {
	margin-bottom: 1em;
}

#noCharFound {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}