/*
	Gamers Plane Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_myCharacters .alertBox_error {
	padding-top: 8px;
	padding-bottom: 8px;
}

#page_myCharacters h2 {
	margin-top: 0;
}

#page_myCharacters .label {
	display: block;
	float: left;
	width: 200px;
	padding-right: 15px;
	border-right: 1px solid #666;
}

#page_myCharacters .systemType {
	float: left;
	width: 200px;
	padding: 0 15px;
	border-right: 1px solid #666;
	text-align: center;
}

#page_myCharacters .links {
	float: left;
	margin-left: 15px;
}

#page_myCharacters .links a {
	margin-right: 20px;
}

#page_myCharacters .noItems {
	margin: 1.5em 0;
	font-size: 1.3em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
}

#page_myCharacters #mobsList, #page_myCharacters #newChar {
	margin-top: 2em;
}

#page_myCharacters #newChar label {
	float: left;
	width: 120px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 1em;
}

#page_myCharacters #newChar input[type="text"] {
	width: 200px;
	text-align: left;
}

#page_myCharacters #newChar .buttonPanel {
	margin-left: 120px;
}

/* --------------------------------------------*/

#page_editLabel .fancyButton, #page_deleteCharacter .fancyButton {
	margin-top: .5em;
}

/* --------------------------------------------*/

#charSheetLogo {
	margin: 1em 0;
	text-align: center;
}

#editCharacter {
	margin-bottom: 1em;
}

#noCharFound {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}