/*
	Gamers Plane Forums CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

.quote {
	margin: 10px 20px 20px;
	padding: 8px;
	border: 1px solid #666;
	background-color: #191919;
}

.quote .quotee {
	font-size: .85em;
	font-weight: bold;
	margin: 0 0 .5em 0;
}

.note {
	margin: 10px 20px 20px;
	padding: 8px;
	border: 1px solid #666;
	background-color: #191919;
}

.note div:first-child {
	font-size: .85em;
	font-weight: bold;
	margin: 0 0 .5em 0;
	font-variant: small-caps;
}

/* --------------------------------------------*/

#page_forum_rules p {
	margin: 1em 0;
}

#page_forum_rules ol {
	list-style: decimal;
	margin: 1em 0 1em 50px;
}

#page_forum_rules li {
	margin: .3em 0;
}

#page_forum_rules ol ol {
	list-style: lower-roman;
	margin: .3em 0 .3em 50px;
}

/* --------------------------------------------*/

#page_forum h1 {
	margin-bottom: .3em;
}

#page_forum #breadcrumbs {
	margin-bottom: .75em;
	color: #666;
	font-size: 1.1em;
}

#page_forum #administrateLink {
	float: right;
	margin-top: .5em;
}

#page_forum #rules {
	margin-bottom: 1em;
}

#page_forum #newThread {
}

#page_forum #newThread a {
	display: block;
	float: left;
}

#page_forum .tableDiv, #page_forumSearch .tableDiv {
	margin-top: 15px;
	padding-bottom: 5px;
}

/*#page_forum .firstTableDiv {
	margin-top: 0;
}*/

#page_forum h2, #page_forumSearch h2 {
	position: relative;
	float: right;
	margin: 0;
	font-size: 1.8em;
	line-height: 1.2em;
}

#page_forum h2, #page_forumSearch h2 {
}

#page_forum .td {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#page_forum .headerTR .td {
	padding-top: 8px;
	padding-bottom: 8px;
}

#page_forum .sudoTable .tr {
	position: relative;
	top: -1px;
	padding-left: 8px;
	padding-right: 8px;
	border-style: solid;
	border-color: #222;
	border-width: 1px 2px;
	border-right-color: #944;
	border-bottom-color: #944;
}

#page_forum .sudoTable .tr:hover {
	background-color: #FFF2E0;
}

#page_forum .sudoTable .tr:last-child {
	border-bottom-width: 2px;
}

#page_forum .tableDiv th, #page_forumSearch .tableDiv th {
	text-align: center;
	vertical-align: middle;
}

#page_forum .threadTable th, #page_forumSearch .threadTable th {
	padding-top: 6px;
}

#page_forum .tableDiv td, #page_forumSearch .tableDiv td {
	vertical-align: middle;
	padding: 8px 2px;
}

#page_forum .tableDiv .noPosts td, #page_forumSearch.tableDiv .noPosts td {
	height: 41px;
}

#page_forum .icon, #page_forum .icon, #page_forumSearch .icon, #page_forumSearch .icon {
	width: 35px;
	text-align: center;
	vertical-align: middle;
}

#page_forum .name, #page_forum .threadInfo, #page_forumSearch .threadInfo {
	padding-left: 5px;
}

#page_forum .name {
	width: 415px;
}

#page_forum .threadInfo, #page_forumSearch .threadInfo {
	width: 540px;
}

#page_forum .name .description {
	font-size: .85em;
	margin: .5em 0 0;
}

#page_forum .threadInfo .threadAuthor, #page_forumSearch .threadInfo .threadAuthor {
	margin-top: .2em;
	font-size: .85em;
}

#page_forumSearch .threadAuthor .forumName, #page_forumSearch .threadInfo .threadAuthor .forumName:hover {
	color: #D60;
}

#page_forumSearch .tableDiv table .threadInfo .threadAuthor .forumName:hover {
	text-decoration: none;
}

#page_forum .numPosts, #page_forum .numThreads, #page_forumSearch .numPosts {
	width: 120px;
	text-align: center;
}

#page_forum .sudoTable .noThreads {
	text-align: center;
	font-family: Neuropol;
	font-size: 1.6em;
	line-height: 1.2em;
}

#page_forum .sudoTable .noThreads:hover {
	background-color: transparent;
}

#page_forum .lastPost, #page_forumSearch .lastPost {
	width: 175px;
	text-align: center;
}

#page_forum .lastPost span, #page_forumSearch .lastPost span {
	font-size: .85em;
}

#page_forum #forumLinks, #page_forumSearch #forumLinks {
	margin: 1em 10px;
	height: 24px;
	position: relative;
}

#page_forum #forumOptions {
	position: absolute;
	left: 0;
	bottom: 0;
}

#page_forum #paginateDiv, #page_forumSearch #paginateDiv {
	float: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

/* --------------------------------------------*/

#page_forum_thread h2#noPosts {
	margin: 4em 0;
}

#page_forum_thread #threadMenu {
	position: relative;
	height: 24px;
	margin: 1em 0;
}

#page_forum_thread #threadMenu #threadOptions {
	position: absolute;
	right: 0;
	bottom: 0;
}

#page_forum_thread #threadOptions button {
	height: 24px;
	width: 24px;
	padding: 0;
	background-image: url('../images/forums/threadActions.png');
	background-repeat: no-repeat;
}

#page_forum_thread .unsticky {
	background-position: top left;
}

#page_forum_thread .unsticky {
	background-position: top right;
}

#page_forum_thread .lock {
	background-position: bottom left;
}

#page_forum_thread .unlock {
	background-position: bottom right;
}

#page_forum_thread #poll {
	border: 1px solid #444;
	padding: 10px;
	margin: 10px 0 20px;
	background: #111;
}

#page_forum_thread #poll p {
	font-size: .8em;
}

#page_forum_thread #poll_question {
	font-size: 1.1em;
	font-weight: bold;
}

#page_forum_thread #poll ul {
	margin: 1em 0 0;
}

#page_forum_thread #poll li {
	list-style: none;
	margin-bottom: .3em;
}

#page_forum_thread #poll li div {
	display: block;
	float: left;
}

#page_forum_thread #poll .poll_input {
	width: 30px;
}

#page_forum_thread #poll .poll_option {
	width: 300px;
	padding-top: .1em;
}

#page_forum_thread #poll .poll_votesCast {
	border: 1px solid #755;
	border-right-color: #211;
	border-bottom-color: #211;
	background-color: #422;
	text-align: right;
	padding: 0 5px;
}

#page_forum_thread #poll_submit {
	margin: 1em 0 0 30px;
}

#page_forum_thread .postBlock {
	margin: 10px 0 30px;
	background-image: url('../images/chatBody.jpg');
	background-repeat: repeat-y;
}

#page_forum_thread .postRight {
	background-position: top right;
}

#page_forum_thread .postLeft {
	background-position: top left;
}

#page_forum_thread .posterDetails {
	width: 160px;
}

#page_forum_thread .postRight .posterDetails {
	float: left;
}

#page_forum_thread .postLeft .posterDetails {
	float: right;
}

#page_forum_thread .posterDetails .avatar {
	text-align: center;
}

#page_forum_thread .posterDetails .posterName {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

#page_forum_thread .postContent {
	position: relative;
	padding: 15px;
	border: 2px solid #000;
	border-radius: 10px;
	line-height: 1.4em;
	background: #FFF;
}

#page_forum_thread .postContent .post img {
	max-width: 705px;
}

#page_forum_thread .postRight .postContent {
	background-position: top right;
	margin-left: 180px;
}

#page_forum_thread .postLeft .postContent {
	background-position: top left;
	margin-right: 180px;
}

#page_forum_thread .postPoint {
	position: absolute;
	top: 30px;
	height: 15px;
	width: 17px;
	background: url('../images/forums/chatPoint.png') left top no-repeat;
}

#page_forum_thread .postRight .postPoint {
	left: -17px;
}

#page_forum_thread .postLeft .postPoint {
	right: -17px;
	background-position: top right;
}

#page_forum_thread .postedOn {
	position: absolute;
	top: 8px;
	right: 15px;
	font-size: .8em;
}

#page_forum_thread .subject {
	margin-bottom: .4em;
	padding-bottom: .5em;
	padding-right: 150px;
	border-bottom: 1px solid #800;
	font-size: 1.1em;
	line-height: 1.2em;
}

#page_forum_thread div.postContent hr {
	margin: .25em 0;
	color: #555;
	background-color: #555;
}

#page_forum_thread div.postContent h4 {
	font-weight: bold;
	background: url('../images/fadeHR.jpg') bottom left no-repeat;
	margin: 1.5em 0 .25em;
}

#page_forum_thread .postContent form, #page_forum_thread .postContent .indent, #page_forum_post #postedRolls .indent {
	margin: .25em 0 .5em 30px;
}

#page_forum_thread .rollInfo .hidden {
	color: #666;
}

#page_forum_thread .postContent form {
	margin-top: .6em;
}

#page_forum_thread .postContent form button {
	position: relative;
	height: auto;
	padding: 0;
	margin: 0 10px 0 0;
}

#page_forum_thread .postContent form button .eyeIcon {
	position: absolute;
	top: -10px;
	right: -5px;
}

#page_forum_thread .postContent .indent img {
	margin-right: 5px;
}

#page_forum_thread div.postContent div.editInfoDiv {
	padding-top: .75em;
	font-size: .8em;
	font-style: italic;
	text-align: right;
}

#page_forum_thread div.postActions {
	font-size: .9em;
	padding-top: 8px;
	clear: both;
}

#page_forum_thread .postRight .postActions {
	background-position: top right;
	margin-left: 180px;
}

#page_forum_thread .postLeft .postActions {
	background-position: top left;
	margin-right: 180px;
}

#page_forum_thread div.postActions div {
	float: right;
}

#page_forum_thread div.postActions a {
	margin: 0 10px;
}

#page_forum_thread #quickMod {
	margin-top: 1em;
	float: right;
}

#page_forum_thread #quickMod button {
	margin-left: 10px;
}

#page_forum_thread label, #page_forum_post label {
	width: 75px;
	float: left;
}

#page_forum_thread input[type="text"], #page_forum_post input[type="text"] {
/*	width: 562px;*/
	width: 808px;
	margin: 0 0 10px 5px;
}

#page_forum_thread #textAreaDiv {
	margin-top: 1em;
}

#page_forum_thread textarea, #page_forum_post textarea {
	height: 10em;
	width: 100%;
}

#page_forum_post textarea {
	height: 20em;
}

#page_forum_thread #markItUpMessageTextArea {
	margin-bottom: 1em;
}

/* --------------------------------------------*/

#page_forum_post #preview {
	clear: both;
	margin: 10px 0;
}

#page_forum_post hr {
	width: 800px;
	margin: 1.25em auto;
	background-color: #444;
	color: #444;
}

#page_forum_post #basicPostInfo {
/*	width: 650px;*/
}

#page_forum_post .post {
	margin-top: 10px;
	margin-left: 15px;
}

#page_forum_post #rollExplination {
	font-size: .8em;
	margin: 0;
	font-style: italic;
}

#page_forum_post #postedRolls, #page_forum_post #rollsTable {
	margin-top: 1em;
}

#page_forum_post #postedRolls .rollInfo {
	position: relative;
	margin-bottom: 1em;
}

#page_forum_post #postedRolls select {
	position: absolute;
	top: 0;
	left: 400px;
}

#page_forum_post #addPoll label {
	width: 150px;
}

#page_forum_post #addPoll input, #page_forum_post #addPoll textarea {
	margin: 0 0 0 15px;
}

#page_forum_post #addPoll input[type="text"], #page_forum_post #addPoll textarea {
	width: 727px;
}

#page_forum_post #addPoll label p {
	font-size: .8em;
}

#page_forum_post #addPoll textarea {
	height: 7.3em;
}

#page_forum_post #addPoll #optionsPerUser {
	width: 40px;
}

#page_forum_post #addPoll #allowRevoting {
	width: auto;
}

#page_forum_post .rollInfo .hidden {
	color: #666;
}

#page_forum_post #rollsTable {
	width: 840px;
}

#page_forum_post #rollsTable input {
	margin: 0;
}

#page_forum_post #rollsTable .reason {
	width: 450px;
}

#page_forum_post #rollsTable .roll {
	width: 130px;
}

#page_forum_post #rollsTable .roll input {
	width: 100px;
}

#page_forum_post #rollsTable .reason input, #page_forum_post #decksTable .reason input {
	width: 415px;
	margin: 0;
}

#page_forum_post #rollsTable .reroll {
	width: 90px;
	text-align: center;
}

#page_forum_post #rollsTable .reroll input {
	margin-top: 3px;
}

#page_forum_post #rollsTable .visibility {
	width: 150px;
	padding-left: 20px;
}

#page_forum_post #rollsTable .indivRolls {
	width: 200px;
}

#page_forum_post #decksHeader {
	margin-top: 1.5em;
}

#page_forum_post #decksTable .titleBuffer td {
	padding-top: 1em;
}

#page_forum_post #decksTable .reason {
	width: 440px;
	padding-left: 0;
}

#page_forum_post #decksTable .draw input {
	width: 50px;
	text-align: center;
}

#page_forum_post #submitDiv {
	margin-top: 1em;
}

#page_forum_post #submitDiv button {
	margin-left: 20px;
}

#page_forum_post #submitDiv button:first-child {
	margin-left: 0;
}

/* --------------------------------------------*/

#page_forumACP #acpMenu {
	float: left;
	width: 150px;
	list-style: none;
	margin-top: 20px;
	margin-left: 0;
	border-top: 1px solid #777;
}

#page_forumACP #acpMenu li {
	position: relative;
	padding: .5em 10px .5em 10px;
	border: 1px solid #777;
	border-top-width: 0;
	background: #151515;
}

#page_forumACP #acpMenu li.current {
	top: -1px;
	z-index: 100;
	border: 1px solid #AAA;
	border-right-width: 0;
	background: none;
}

#page_forumACP #acpMenu li a {
	display: block;
}

#page_forumACP .acpContent {
	display: none;
	margin-left: 170px;
}

#page_forumACP .acpContent.current {
	display: block;
}

#page_forumACP h2 {
	text-align: left;
}

#page_forumACP #breadcrumbs {
	font-size: 1.1em;
	color: #666;
	margin-bottom: 1em;
}

#page_forumACP #breadcrumbs #forumReturn {
	float: right;
}

#page_forumACP #forumDetails label {
	float: left;
	width: 150px;
}

#page_forumACP #forumDetails textarea {
	width: 300px;
	height: 4.9em;
}

#page_forumACP #forumDetails button {
	margin-left: 150px;
	margin-top: .5em;
}

#page_forumACP #forums h3 {
	margin: 1.5em 0 .5em;
}

#page_forumACP #forums h3.first {
	margin-top: 0px;
}

#page_forumACP #categories .tr, #page_forumACP #forums .tr {
	margin-left: 10px;
}

#page_forumACP #categories .buttonDiv, #page_forumACP #forums .buttonDiv {
	width: 30px;
	text-align: center;
	float: left;
}

#page_forumACP #categories .catNames, #page_forumACP #forums .forumNames {
	padding: 2px 0;
	margin-left: 160px;
}

#page_forumACP #forums .editLinks {
	float: left;
	padding: 4px 10px 0;
}

#page_forumACP #categories .delete {
	margin-left: 10px;
}

#page_forumACP #forums .delete {
	margin-left: 435px;
}

#page_forumACP #newForum label {
	font-weight: bold;
	float: left;
	width: 100px;
}

#page_forumACP #newForum input {
	width: 300px;
}

#page_forumACP #newForum button {
	margin-left: 100px;
}

#page_forumACP #newForum {
	margin-top: 1em;
}

#page_forumACP #newPermission label {
	width: 150px;
	float: left;
}

#page_forumACP #newPermission button {
	margin-left: 150px;
}

#page_forumACP br.clear {
	font-size: 1px;
	line-height: 1px;
}

#page_forumACP .gapAbove {
	margin-top: 2em;
}

#page_forumACP .permissionsTitle, #page_forumACP .permissionsLink {
	float: left;
}

#page_forumACP #newPermission .permissionsTitle {
	width: 150px;
}

#page_forumACP .permissionsTitle {
	width: 300px;
}

#page_forumACP .permissionsLink {
	margin: 0 30px 0 0;
}

#page_forumACP .noFloat {
	float: none;
}

#page_forumACP #updateDiv {
	clear: both;
	margin-top: 2.5em;
	text-align: center;
}