/*
	Gamers Plane Forums CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

/* --------------------------------------------*/
@import "rpgawesome/variables.less";
@import "gpVariables.less";


#page_forum_rules {
	p {
		margin: 1em 0;
	}

	ol {
		list-style: decimal;
		margin: 1em 0 1em 50px;
	}

	li {
		margin: .3em 0;
	}

	ol ol {
		list-style: lower-roman;
		margin: .3em 0 .3em 50px;
	}
}

/* --------------------------------------------*/
#breadcrumbs {
	margin-bottom: .75em;
	color: #666;
	font-size: 1.1em;
	a{
		white-space: nowrap;
	}
}

#page_forum {
	h1 {
		margin-bottom: .3em;
	}

	#topLinks {
		.flexWrapper {
			justify-content: space-between;
		}
		.alignRight > div {
			margin-bottom: .5em;
		}
	}
}

#page_forum,
#page_forum_search {
	.tableDiv {
		margin-top: 15px;
		padding-bottom: 5px;
	}

	.groupTopper {
		text-align: right;
	}

	.groupTopperLeft{
		text-align: left;
		margin-left: 20px;
	}

	/*#page_forum .firstTableDiv {
		margin-top: 0;
	}*/

	h2 {
		display: inline-block;
		margin: 0;
		font-size: 1.8em;
		line-height: 1.2em;

		.content {
			padding: 2px 4px;
		}
	}

	.td {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.headerTR {
		padding: 0;

		.td {
			padding-top: 8px;
			padding-bottom: 8px;
			box-sizing: border-box;
		}
	}

	.sudoTable {
		.tr {
			position: relative;
			top: -1px;
			padding-left: 8px;
			padding-right: 8px;
			border-style: solid;
			border-color: @gp-black;
			border-width: 1px 2px;
			border-right-color: #944;
			border-bottom-color: #944;
		}

		.tr:hover {
			background-color: #fff2e0;
		}

		.tr:last-child {
			border-bottom-width: 2px;
		}
	}

	.tableDiv {
		th {
			text-align: center;
			vertical-align: middle;
		}

		td {
			vertical-align: middle;
			padding: 8px 2px;
		}

		.noPosts td {
			height: 41px;
		}

		.pubGameToggle {
			display: inline-block;
			margin-top: 4px;

			& > * {
				vertical-align: middle;
			}

			span {
				display: inline-block;
				margin-bottom: 4px;
			}
		}
	}

	.threadTable th,
	.threadTable th {
		padding-top: 6px;
	}

	.icon {
		width: 35px;
		text-align: center;
		vertical-align: middle;
	}

	.threadInfo,
	.threadInfo {
		width: 535px;
	}

	.threadInfo,
	.threadInfo {
		.threadAuthor {
			margin-top: .2em;
			font-size: .85em;
		}
	}
}

#page_forum .name,
#page_forum .threadInfo,
#page_forum_search .threadInfo {
	padding-left: 5px;
}

#page_forum {
	.name {
		width: 405px;
	}

	.description {
		font-size: .85em;
		margin: .5em 0 0;
	}
}

#page_forum_search {
	.threadAuthor .forumName,
	.threadInfo .threadAuthor .forumName:hover {
		color: #d60;
	}

	.tableDiv table .threadInfo .threadAuthor .forumName:hover {
		text-decoration: none;
	}
}

#page_forum .numPosts,
#page_forum .numThreads,
#page_forum_search .numPosts {
	width: 120px;
	text-align: center;
}

#page_forum .sudoTable .noThreads {
	text-align: center;
	font-family: Neuropol;
	font-size: 1.6em;
	line-height: 1.2em;
}

#page_forum .sudoTable .noThreads:hover {
	background-color: transparent;
}

#page_forum,
#page_forum_search {
	.lastPost {
		width: 180px;
		text-align: center;

		span {
			font-size: .85em;
		}
	}
}

#page_forum,
#page_forum_search {
	#forumLinks {
		margin: 1em 10px 0;
	}
}

#page_forum,
#page_forum_search {
	#paginateDiv {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

/* --------------------------------------------*/

#page_forum_thread {
	h1 {
		margin-bottom: 0;
	}

	h2#noPosts {
		margin: 4em 0;
	}

	#threadMenu {
		display: flex;
		margin: .5em 0;
		justify-content: space-between;

		.leftCol {
			align-self: flex-end;
		}

		.threadSub {
			margin-top: 0;
		}

		.rightCol > div {
			display: flex;
			align-items: center;
		}

		.paginateDiv {
			display: inline-block;
			margin: 0 0 0 10px;
		}
	}

	#threadOptions {
		display: inline-block;

		button {
			height: 24px;
			width: 24px;
			padding: 0;
			background-image: url('../images/forums/threadActions.png');
			background-repeat: no-repeat;
		}
	}

	.sticky {
		background-position: top left;
	}

	.unsticky {
		background-position: top right;
	}

	.lock {
		background-position: bottom left;
	}

	.unlock {
		background-position: bottom right;
	}

	#threadMenu .fancyButton {
		margin-left: 15px;
	}

	#poll {
		border: 1px solid #444;
		padding: 10px;
		margin: 10px 0 20px;
		background: #eee;

		p {
			font-size: .8em;
		}

		#poll_question {
			font-size: 1.1em;
			font-weight: bold;
		}

		ul {
			margin: 1em 0 0;
		}

		li {
			list-style: none;
			margin-bottom: .3em;
		}

		li div {
			display: inline-block;
		}

		.poll_input {
			width: 20px;
		}

		.poll_option {
			width: 300px;
		}

		.poll_votesCast {
			background-color: #b22;
			color: #ddd;
			text-align: left;
			padding: 1px 5px;
		}
	}

	#poll_submit {
		margin: 1em 0 0 30px;
	}

	.postBlock {
		margin: 10px 0 15px;
	}

	.flexWrapper{
		flex-wrap: nowrap;
	}

	.posterDetails {
		width: 160px;
		word-wrap: break-word;
		flex-grow: 0;
    	flex-shrink: 0;
	}

	.postBody {
		flex-grow: 2;
	}

	.postRight .posterDetails {
		order: 0;
	}

	.postLeft .posterDetails {
		order: 2;
	}

	.posterDetails .avatar {
		text-align: center;

		& > div {
			position: relative;
			display: inline-block;
		}

		a {
			display: inline-block;
		}

		img {
			max-width: 100px;
			max-height: 100px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
		}
	}

	.postAsChar.withCharAvatar {
		.posterDetails {
			.avatar {
				margin-top: 20px;
			}

			.userAvatar {
				position: absolute;

				img {
					max-width: 40px;
					max-height: 40px;
				}
			}
		}
	}

	.posterDetails {
		.posterName,
		.charName {
			font-size: 1.1em;
			font-weight: bold;
			text-align: center;
		}

		.posterName {
			& > * {
				vertical-align: middle;
			}

			img {
				margin-left: 5px;
			}
		}
	}

	.postAsChar .posterDetails {
		.posterName {
			margin-top: .2em;
			font-size: .85em;
		}

		.charName {
			margin-bottom: .2em;
		}
	}

	.postContent {
		position: relative;
		padding: 15px;
		border: 2px solid #444;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		line-height: 1.4em;
		background: #fff;

		.post {
			overflow: hidden;

			img {
				max-width: 100%;
				margin: .5em 0;
			}
		}
	}

	.postPoint {
		position: absolute;
		top: 30px;
		height: 15px;
		width: 17px;
		background: url('../images/forums/chatPoint.png') left top no-repeat;
	}

	.postRight .postPoint {
		left: -17px;
	}

	.postLeft .postPoint {
		right: -17px;
		background-position: top right;
	}

	.postHeader {
		margin-bottom: .8em;
		padding-bottom: .5em;
		border-bottom: 1px solid @gp-red;
	}

	.postedOn {
		float: right;
		font-size: .8em;
	}

	.subject {
		padding-right: 150px;
		font-size: 1.1em;
		line-height: 1.2em;
		font-weight: bold;
	}

	div.postContent {
		hr {
			margin: 1em 0;
			color: #555;
			background-color: #555;
		}

		h4 {
			font-weight: bold;
			background: url('../images/fadeHR.png') bottom left no-repeat;
			margin: 1.5em 0 .25em;
		}
	}
}

#page_forum_thread .postContent,
#page_forum_post #postedRolls {
	.indent {
		margin: .25em 0 .5em 30px;
	}
}

#page_forum_thread .rollInfo .hidden {
	color: #666;
}

.parsedRolls {
	cursor: pointer;

	i {
		display: inline;
		padding: 0 .2em;
		&:after {
			content: ',';
		}

		&:last-child::after {
			content: '';
		}
	}

	.rollVal-bold {
		font-weight: bold;
	}
	.rollVal-success {
		color: #060;
	}
	.rollVal-fail {
		color: @gp-red;
	}
	.rollVal-info {
		color: #009;
	}

	.rollVal-invert {
		color: #fff;
		background-color: #333;
		&.rollVal-success {
			background-color: #060;
		}
		&.rollVal-fail {
			background-color: @gp-red;
		}
		&.rollVal-info {
			background-color: #009;
		}
	}

	.rollVal-underline {
		text-decoration: underline;
	}
}

#page_forum_thread,
#page_forum_post {
	.rollResults {
		margin-left: 20px;
	}
}

#page_forum_thread,
#page_forum_post {
	.starwarsffg_dice,
	.fate_dice {
		margin-left: 10px;
	}
}

#page_forum_thread {
	.postContent {
		form {
			margin-top: .6em;
		}

		button {
			position: relative;
			height: auto;
			padding: 0;
			margin: 0 10px 0 0;
		}

		.indent img {
			margin-right: 5px;
		}
	}

	div.postContent div.editInfoDiv {
		padding-top: .75em;
		font-size: .8em;
		font-style: italic;
		text-align: right;
	}

	.eyeIcon {
		position: absolute;
		top: -10px;
		right: -5px;
		height: 25px;
		width: 25px;
		background: url('../images/eye.png') top left no-repeat;

		&.hidden {
			background-position: bottom left;
		}
	}

	div.postActions {
		font-size: .9em;
		padding-top: 8px;
		text-align: right;

		a {
			margin: 0 10px;
		}
	}

	#quickMod {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 8px;

		button {
			margin-left: 10px;
		}
	}

	#quickReply {
		h2 {
			margin-bottom: .2em;
		}
	}

	#textAreaDiv {
		margin-top: 1em;
	}
}

#page_forum_thread,
#page_forum_post {
	textarea {
		height: 10em;
		width: 100%;
	}
}

#page_forum_post {
	textarea {
		height: 20em;
	}
}

#page_forum_thread {
	#charSelect {
		& > * {
			display: inline-block;
			vertical-align: middle;
		}

		label {
			margin-right: 10px;
		}
	}

	#markItUpMessageTextArea {
		margin-bottom: 1em;
	}
}

/* --------------------------------------------*/

#page_forum_post {
	#preview {
		clear: both;
		margin: 10px 0;

		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}

	hr {
		width: 800px;
		margin: 1.25em auto;
		background-color: #444;
		color: #444;
	}

	#basicPostInfo {
		margin-bottom: 1em;

		.table {
			width: 100%;

			& > div > * {
				padding-bottom: .4em;
			}
		}

		label {
			width: 75px;
		}

		input {
			width: 100%;
		}
	}

	.post {
		margin-top: 10px;
		margin-left: 15px;
	}

	.hbDark {
		margin-top: 0;
	}

	#optionControls {
		display: flex;
		justify-content: flex-end;
		margin-right: 20px;
	}

	#poll {
		label {
			width: 150px;
			vertical-align: top;
		}

		& > div > div {
			flex-grow: 2;
		}
	}

	#pollQuestion {
		width: 100%;
	}

	#optionsPerUser {
		width: 50px;
	}

	#poll b {
		font-weight: bold;
	}

	#rollExplination {
		font-size: .8em;
		margin: 0;
		font-style: italic;
	}

	#postedRolls,
	#newRolls {
		margin-top: .3em;
	}

	#postedRolls {
		margin-bottom: .5em;
		padding-bottom: .5em;
		border-bottom: 1px solid #333;

		.rollInfo {
			margin-bottom: 2em;
		}
	}

	#addPoll {
		label {
			width: 150px;

			p {
				font-size: .8em;
			}
		}

		input,
		textarea {
			margin: 0 0 0 15px;
		}

		input[type="text"],
		textarea {
			width: 727px;
		}

		textarea {
			height: 7.3em;
		}

		#optionsPerUser {
			width: 40px;
		}

		#allowRevoting {
			width: auto;
		}
	}

	.rollInfo .hidden {
		color: #666;
	}

	#addRoll {
		display: flex;
		align-items: center;
		margin: 1em 0 .5em;

		span {
			margin-right: 10px;
			font-weight: bold;
		}

		.prettySelect {
			margin-right: 10px;
		}
	}

	.rollWrapper {
		position: relative;
		margin-top: 4px;
		padding: 7px 15px 11px 25px;
		border-top: 1px solid #aaa;

		&:first-of-type {
			margin-top: 0;
			border-top: 0;
		}

		.cross {
			position: absolute;
			left: 0;
			top: 34px;
		}
	}

	.newRoll {
		display: flex;
		flex-wrap: wrap;
		width:100%;

		&>div{
			display: flex;
			flex-wrap: wrap;
			width:100%;
		}

		& > div > * {
			display: inline-block;
			vertical-align: top;
		}

		.headers > div {
			padding-bottom: 5px;
			font-variant: small-caps;
		}

		input {
			margin: 0;
		}

		.reason {
			width: 40%;
			text-align: left;
		}

		.roll {
			width: 20%;
			padding: 0 10px;
			text-align: center;
		}

		&.starwarsffgRoll {
			.roll {
				width: 20%;
			}

			.dicePool {
				position: relative;
				padding-right: 30px;
			}

			.add {
				position: absolute;
				top: 0;
				right: 0;
				height: 26px;
				width: 40px;
				padding: 3px 5px;
				border: 1px solid #a00;
				background: #333;
				text-align: right;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				cursor: pointer;

				img {
					vertical-align: middle;
				}
			}

			.selectedDice {
				position: relative;
				display: inline-block;
				min-height: 26px;
				padding: 1px 5px;
				vertical-align: middle;
				background: #ddf;
				border: 1px solid #400;
				border-bottom-color: #900;
				border-right-color: #900;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				text-align: left;
				overflow: hidden;

				.diceIcon {
					margin-right: 3px;
				}
			}

			.diceOptions {
				display: none;
				position: absolute;
				top: -35px;
				right: 0;
				width: 140px;
				height: 23px;
				padding: 4px 0;
				background: #eee;
				border: 1px solid #444;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
		}

		.do_pointer {
			position: absolute;
			bottom: -8px;
			right: 9px;
			border-top: 8px solid #444;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}

		.do_pointer_inner {
			position: absolute;
			bottom: 2px;
			left: -5px;
			border-top: 6px solid #eee;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}

		.diceIcon {
			display: inline-block;
			height: 15px;
			width: 10px;
			border: 1px solid #000;
			margin: 3px 1px;
			cursor: pointer;
		}
	}

	.starwarsffg_ability {
		background-color: rgba(79, 184, 71, .5);
	}

	.starwarsffg_difficulty {
		background-color: rgba(83, 35, 128, .5);
	}

	.starwarsffg_proficiency {
		background-color: rgba(255, 233, 0, .5);
	}

	.starwarsffg_challenge {
		background-color: rgba(229, 25, 55, .5);
	}

	.starwarsffg_boost {
		background-color: rgba(163, 217, 246, .5);
	}

	.starwarsffg_setback {
		background-color: rgba(0, 0, 0, .5);
	}

	#newRolls {
		.roll input,
		.starwarsffgRoll .selectedDice {
			width: 100%;
		}
	}

	#newRolls,
	#decksTable {
		.reason input {
			width: 100%;
			margin: 0;
		}
	}

	#newRolls {
		.fateRoll {
			.roll {
				width: 80px;

				input {
					width: 40px;
					text-align: center;
				}
			}
		}

		.fengShuiRoll {
			.av {
				width: 50px;
				text-align: center;

				input {
					width: 40px;
					text-align: center;
				}
			}

			.modifier {
				width: 110px;
				text-align: center;
			}
		}

		.reroll {
			width: 10%;
			padding-right: 10px;
			text-align: center;
			vertical-align: middle;

			input {
				margin-top: 3px;
			}

			.prettyCheckbox {
				position: relative;
				top: 6px;
			}
		}

		.visibility {
			width: 15%;
			min-width: 150px;
		}

		.indivRolls {
			width: 200px;
		}
	}

	#decksHeader {
		margin-top: 1.5em;
	}

	#decksTable {
		.titleBuffer td {
			padding-top: 1em;
		}

		.reason {
			width: 440px;
			padding-left: 0;
			padding-right: 15px;
		}

		.draw input {
			width: 50px;
			text-align: center;
		}
	}

	#submitDiv {
		margin-top: 1em;

		button {
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

/* --------------------------------------------*/

#page_forumACP {
	#forums,
	#forums ul {
		list-style: none;
	}

	.sideWidget {
		margin-top: 1em;
		color: #777;
	}

	#forums {
		margin-left: 0;

		ul {
			margin-left: 15px;
		}

		li {
			position: relative;

			div,
			a {
				padding: 2px 0;
			}

			a,
			a:visited,
			a:active {
				display: block;
				color: #fff;
			}

			a:hover {
				text-decoration: underline;
			}

			&.currentForum {
				& > a,
				& > a:visited,
				& > a:active {
					font-weight: bold;
					color: #c00;
				}
			}

			&.notAdmin {
				& > a {
					cursor: default;
					color: inherit;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		ul {
			li:before {
				content: "-";
				position: absolute;
				left: -10px;
				top: 2px;
				color: #fff;
			}

			li.notAdmin:before {
				color: #777;
			}

			li.currentForum:before {
				color: #c00;
			}
		}
	}

	.sectionControls {
		float: right;

		.content {
			background-color: @gp-black;
		}

		.leftWing,
		.rightWing {
			border-bottom-color: @gp-black;
		}

		a {
			display: inline-block;
			padding: .3em 15px;
			color: #fdd;
			background: #522;
			border-top: .3em solid @gp-black;
			border-left: 2px solid @gp-black;
		}

		&:first-child {
			border-left: none;
		}

		.current,
		a:hover {
			color: #f00;
			background: @gp-black;
		}
	}

	.hbDark {
		margin-top: 0;
	}

	#acpMenu {
		float: left;
		width: 150px;
		list-style: none;
		margin-top: 20px;
		margin-left: 0;
		border-top: 1px solid #777;

		li {
			position: relative;
			padding: .5em 10px .5em 10px;
			border: 1px solid #777;
			border-top-width: 0;
			background: #151515;

			&.current {
				top: -1px;
				z-index: 100;
				border: 1px solid #aaa;
				border-right-width: 0;
				background: none;
			}

			a {
				display: block;
			}
		}
	}

	.currentSection {
		position: relative;
		left: 0;
	}

	.hideSection {
		position: absolute;
		left: -9999em;
	}

	#breadcrumbs {
		font-size: 1.1em;
		color: #666;
		margin-bottom: 1em;
	}

	#details {
		label {
			float: left;
			width: 150px;
		}

		input {
			width: 300px;
		}

		textarea {
			width: 450px;
			height: 6.5em;
		}

		.buttonPanel {
			margin-left: 130px;
			margin-top: .5em;
		}
	}

	#subforums {
		h3 {
			margin: 1.5em 0 .5em;

			&.first {
				margin-top: 0px;
			}
		}

		.buttonDiv > * {
			text-indent: -9999px;
		}
	}

	#categories,
	#subforums {
		.tr {
			& > * {
				vertical-align: middle;
			}
		}

		.buttonDiv {
			display: inline-block;
			width: 24px;
			text-align: center;
		}

		.deleteConfirm {
			margin: .5em 0;
			padding: 6px 10px;
			border: 1px solid #900;
			background-color: #eaa;
		}
	}

	#categories .catNames,
	#subforums .forumNames {
		display: inline-block;
		margin-left: 10px;
		padding: 2px 0;
	}

	#subforums {
		.editLinks {
			padding: 4px 10px 0;
		}

		.delete {
			margin-left: 435px;
		}
	}

	#categories .delete {
		margin-left: 10px;
	}

	#newForum {
		margin-top: 1em;

		& > * {
			margin-right: 10px;
			vertical-align: middle;
		}

		label {
			display: inline-block;
			font-weight: bold;
		}

		input {
			width: 300px;
		}
	}

	br.clear {
		font-size: 1px;
		line-height: 1px;
	}

	.gapAbove {
		margin-top: 1em;
	}

	#groups {
		.groupName {
			font-weight: bold;
		}

		li {
			* {
				vertical-align: middle;
			}

			a {
				margin-left: 6px;
				font-size: .85em;
			}

			input {
				width: 200px;
			}

			.cancelDelete {
				color: #3b3;
			}

			button {
				margin-left: 5px;
			}
		}
	}

	#newGroup {
		margin-top: 1em;
	}

	.permission_edit,
	.permission_delete {
		font-size: .85em;
	}

	#permissions .permissions {
		margin-left: 20px;
	}

	.permissionSet {
		.tr {
			padding-bottom: 0;
		}
	}

	.permission_label,
	.permission_type,
	.option {
		display: inline-block;
	}

	.permission_type {
		width: 150px;
	}

	.option {
		width: 90px;
		margin-right: 10px;
		padding: 5px 0;
		border-width: 2px;
		border-style: solid;
		text-align: center;
		opacity: .35;
		cursor: pointer;

		&.no {
			background: #f66;
			border-color: #900;
		}

		&.inherit {
			background: #fff;
			border-color: #000;
		}

		&.yes {
			background: #3c3;
			border-color: #060;
		}

		&.selected {
			opacity: 1;
		}
	}

	.permissionSave {
		margin-top: 10px;
		margin-left: 255px;
	}

	.newPermission {
		margin-top: 1em;
	}
}

/* --------------------------------------------*/

#page_forumACP_newPermission {
	#optList,
	#permissionsList {
		display: inline-block;
		vertical-align: top;
	}

	#optList {
		width: 200px;
	}

	#permissionsList {
		width: 265px;
	}

	.tr {
		padding-top: 0;
	}

	.permission_label,
	.permission_type {
		display: inline-block;
	}

	.permission_type {
		width: 150px;
	}

	.buttonPanel {
		margin-top: .5em;
	}
}

/* --------------------------------------------*/

#page_subscriptions {
	.column {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}

	#forums {
		margin-right: 1.4%;
	}

	ul {
		margin-left: 0;
		list-style: none;

		ul {
			margin-left: 20px;
			margin-top: .5em;
		}

		li {
			margin-bottom: .5em;

			span > * {
				display: inline-block;
				vertical-align: middle;
			}

			.sprite {
				margin-left: 5px;
			}

			.notSubbed {
				color: #888;
			}
		}
	}
}

/* --------------------------------------------*/
/* char sheet integration */
#charButtons {
	margin-left: 0.5em;
}
.rollForChar {
	display: inline-block;
	margin: 0 .5em;
	background-color: @gp-red;
	color: #fff;
	cursor: pointer;
	white-space: nowrap;
	font-size: 80%;
	padding: .25em .5em;
	border-radius: 6px;
}

.rollForChar.sel {
	color: @gp-red;
	border: solid 1px;
	background-color: transparent;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-style: none;
	z-index: 2;
	background-color: #fff;
	padding-bottom: 0.6em;
}

#charSheetRoller {
	border: solid 1px #400;
	padding: 10px;
	border-radius: 0.5em;
	margin-top: -1px;
	z-index: 1;
}

#charSheetRoller h3 {
	color: @gp-red;
	border-top: solid 1px;
}

.roller {
	white-space: nowrap;
	display: inline-block;
	width: 290px;
	margin-bottom: 1em;
}
.roller.skill {
	width: 210px;
}

.roller span {
	display: block;
	font-weight: bold;
	margin-bottom: 2px;
}

.rollerInit span {
	display: none;
}

.roller .rollSel {
	display: inline-block;
	margin-left: 0;
	margin-right: 1em;
}

.roller .rollSel li {
	display: inline-block;
	border: solid 1px #888;
	border-right-width: 0;
	padding: .2em .5em;
}

.rollDice {
	cursor: pointer;
}

td .rollDice {
	display: inline-block;
	padding: .2em 1em;
	border: solid 1px @gp-black;
	border-radius: 5px;
	background-color: #eee;
}

#charSheetRoller .bbTableRolls tr:hover {
	background-color: #fff2e0;
}

.roller .rollSel li:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.roller .rollSel li:last-of-type {
	border-right-width: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* --------------------------------------------*/
.editRollInfo {
	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.editRollInfoChangeVisibility {
		float: left;
		width: 200px;
	}

	.editRollInfoRoll {
		float: left;
		width: 680px;
		padding-right: 20px;

		p {
			margin: 0;
		}

		margin-bottom: .5em;
	}

	border-bottom: solid 1px #ccc;

	&:last-of-type {
		border-bottom-style: none;
	}
}

#page_forum_post #postedRolls .rollInfo.editRollInfo {
	margin-bottom: .5em;
	padding-bottom: .5em;
}

//forum flex
//flex
#page_forum,#page_forum_search{

	.tableDiv{

		.tr{
			display: flex;
			width: 100%;
			flex-wrap: nowrap;
			box-sizing: border-box;
		}

		.icon{
			flex:0 0 auto;
			width:40px;
		}

		.threadInfo{
			flex:0 0 auto;
			width:40%;
			display: flex;
			flex-wrap: wrap;

			.threadInfoNew{
				width: 20px;
				order:1;
			}
			.paginateDiv{
				width: 45%;
				order:3;
				margin: 0;
				white-space: nowrap;
			}
			.threadTitle{
				width: 45%;
				order:2;
			}
			.threadAuthor{
				display: block;
				width: 100%;
				order: 4;
				padding-left: 20px;
			}
		}
		.numPosts{
			flex:0 0 auto;
			width:25%;
		}
		.lastPost{
			flex:0 0 auto;
			width:25%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.keepUnread{
	float:left;
}

.inlineNpcPrefix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.inlineNpc{
	float: left;
	margin: 0 1rem 0.5rem 0;

	.inlineNpcAvatar{
		width:100px;
		height:100px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	.inlineNpcName{
		text-align: center;
		font-weight: bold;
		max-width: 100px;
	}
}

.withSingleNpc .inlineNpc{
	display: none;
}

@media only screen and (max-width: @mobile-breakpoint){
    #page_forum,#page_forum_search{
		.tableDiv{
			.numPosts,.numThreads,.paginateDiv{
				display: none;
			}

			.threadInfo{
				width: ~"calc(75% - 40px)";
				.threadTitle{
					width: ~"calc(100% - 20px)";
				}
			}
		}
    }

	#page_forum_thread .postBlock{
		.flexWrapper{
			flex-direction: column;
			.posterDetails{
				display: flex;
				flex-direction: row;
				align-items: end;
				width: 100%;
			}
		}
		.postPoint{
			background: none;
		}

		.postContent{
			position: relative;
			&:before,&:after{
				content:' ';
				position: absolute;
				width:0px;
				height:0px;
				border:solid 10px transparent;
				display: inline-block;
			}
			&:before{
				border-bottom-color: #444;
				top:-20px;
			}
			&:after{
				border-bottom-color: #fff;
				top:-18px;
			}
		}
	}

	#page_forum_thread .postBlock .posterDetails {
		order:0;
		.avatar {
			img{
				max-height: 40px;
			}
		}

		.postNames{
			display: flex;
			flex-direction: column;
			margin-left: 20px;
		}
	}

	#page_forum_thread .postAsChar.withCharAvatar .posterDetails .avatar{
		margin-top:0;
		.userAvatar{
			right:-10px !important;
			top:-10px !important;

			img{
				max-height: 20px;
			}
		}
	}

	#page_forum_thread .postBlock.postRight .flexWrapper {
		.postContent{
			&:before,&:after{
				right: 10px;
			}
		}

		.posterDetails{
			flex-direction: row-reverse;
		}
	}

	#rolls_decks{
		margin-left: 0;

		#newRolls{
			.newRoll{

				flex-wrap: nowrap;

				&>div{
					flex-direction: column;
					width: auto;
					flex-grow: 1;

					.reroll,
					.reason,
					.roll,
					.visibility,
					.av,
					.modifier{
						text-align: left;
						min-width: auto;
						padding-left: 0;
						width: auto;
						margin-bottom: .2rem;
						min-height: 30px;
						padding-bottom: 0;
						box-sizing: border-box;
						padding-right: 5px;
					}

				}

				&>div.headers
				{
					flex-grow: 0;
					&>div{
						padding-top: 5px;
					}

				}
			}
		}
	}

	.editRollInfo .editRollInfoChangeVisibility,
	.editRollInfo .editRollInfoRoll{
		width: auto;
		float: none;
	}

	#page_forum_thread {
		#threadMenu {
			flex-direction: column;

			.leftCol {
				align-self: flex-start;
			}
		}
	}

}

.forumList.hbdMargined,
.threadList.hbdMargined{
	margin-left: 0;
}

.tavernTags{
	margin-bottom: 1rem;
	font-size:1.2em;
}

.tavernGame{
	iframe,
	img{
		max-width: 100%;
	}
}



//forum icons
.ra.forum-icon{
	margin-right: .3em;
	&:before{ //default communities
		content: @ra-var-icon-speech-bubble;
	}
}

.ra.forum-root-6:before{ //game discussion
	content: @ra-var-icon-pawn;
}

.ra.forum-root-20:before{ //guides
	content: @ra-var-icon-wooden-sign;
}

.ra.forum-root-2:before{ //games
	content: @ra-var-icon-d6;
}

.ra.forum-id-3:before{  //announcements
	content: @ra-var-icon-gamers-plane;
}

.ra.forum-id-10:before{  //tavern
	content: @ra-var-icon-beer;
}

.ra.forum-id-14:before{  //introductions
	content: @ra-var-icon-hearts;
}