/*
	Games CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_myGames {
	#gamesPlaying {
		margin-bottom: 1.5em;
	}

	.noneFound {
		font-size: 1.3em;
		margin: 1.5em 0;
		line-height: 1.4em;
		text-align: center;
		font-weight: bold;
	}

	.gameTitle {
		display: block;
		float: left;
		width: 250px;
		border-right: 1px solid #666;
	}

	.systemType, .gmInfo {
		float: left;
		border-right: 1px solid #999;
		text-align: center;
	}

	.systemType {
		width: 200px;
	}

	.gmInfo {
		float: none;
		width: 175px;
		margin-left: 451px;
		border-right: none;
	}

	.gmLinks {
		margin-left: 470px;
	}

	.playerLinks {
		margin-left: 670px;
	}

	.gameRunning .systemType {
		float: none;
		margin-left: 250px;
		border-right: none;
	}

	#lfg a {
		font-size: .75em;
	}

	.alignRight {
		margin: 0 10px 0 0;
	}

	#gamesRunning {
		margin-top: 1em;
	}
}

/* --------------------------------------------*/

#page_lfg {
	h3 {
		display: inline;
	}

	a {
		font-size: .75em;
	}

	.game {
		float: left;
		width: 224px;
		padding: .25em 0;

		label {
			display: inline;
		}
	}

	#submitDiv {
		text-align: center;
		margin-top: .5em;
	}
}

/* --------------------------------------------*/

#page_newGame {
	.sideWidget {
		width: 260px;

		li {
			padding: .2em 0;
			list-style: none;
		}
	}

	.mainColumn {
		width: 640px;
	}
}

#page_newGame, #page_editGame {
	form {
		width: 640px;
		margin: 0 auto;

		.tr {
			& > * {
				display: inline-block;
				vertical-align: middle;
			}

			& > label {
				width: 250px;
				margin-right: 10px;
				text-align: right;
				font-weight: bold;
			}
		}

		.textareaRow {
			& > * {
				vertical-align: top;
			}

			label {
				margin-top: 6px;
			}
		}
	}

	#statuses {
		label {
			display: inline-block;
			margin-right: 10px;
		}
	}

	input {
		width: 250px;

		&#numPlayers, &#timesPer, &#charsPerPlayer {
			text-align: center;
			width: 40px;
		}
	}

	textarea {
		width: 375px;
		height: 8em;
	}

	#submitDiv {
		margin-top: 1em;
		text-align: center;
	}
}

/* --------------------------------------------*/

#page_listGames {
	#filterGames {
		#clearCheckboxes {
			margin-bottom: .8em;

			a {
				vertical-align: bottom;
			}
		}

		.tr:first-child {
			padding-top: 0;
		}

		input[type="text"] {
			width: 212px;
		}

		& > ul {
			margin: .5em 0 1em;
			clear: both;
			list-style: none;

			li {
				padding: 0.1em 0
			}
		}
	}

	label {
		display: inline;
	}

	h1 {
		margin: 0;
	}

	.gameTitle, .systemType, .gmLink {
		display: inline-block;
		vertical-align: middle;
	}

	.gameTitle {
		width: 210px;
		padding-right: 10px;
	}

	.systemType {
		width: 200px;
		padding: 0 15px;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		text-align: center;
	}

	.gmLink {
		margin-left: 15px;
	}

	#noResults {
		margin: 2em 0;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1.2em;
		text-align: center;
	}
}

/* --------------------------------------------*/

#page_gameDetails {
	h1 a {
		font-size: .6em;
	}

	.spaceLinks {
		a {
			margin-right: 10px;
		}
	}

	#details {
		.tr > * {
			display: inline-block;
			vertical-align: middle;
		}

		.textareaRow > * {
			vertical-align: top;
		}

		label {
			width: 320px;
			margin-right: 10px;
			font-size: .9em;
			text-transform: uppercase;
			text-align: right;
			font-weight: bold;
		}

		.tr > div {
			width: 590px;
		}
	}

	.notice, #loggedOutNotice {
		margin: 1em 0;
		font-size: 1.2em;
		line-height: 1.2em;
		font-weight: bold;
		text-align: center;
	}

	#playerDetails {
		.leftCol {
			float: left;
			width: 630px;
		}

		.rightCol {
			float: right;
			width: 300px;
		}
	}

	#invites {
		margin: 10px 0;

		label {
			display: inline-block;
		}

		button {
			margin-left: 12px;
		}

		.error {
			display: inline-block;
			margin-left: 15px;
			color: #D00;
		}
	}

/*	#playersInGame li {
		padding: 0;
	}*/

	.playerInfo > div, .characters li > div {
		float: left;
	}

/*	.playerInfo {
		padding: 8px;
	}

	.playerInfo:hover {
		padding: 7px;
		border: 1;
	}

	#playersInGame li:hover {
		padding: 0;
	}*/

	.hasChars {
		padding-bottom: 4px;
	}

	.hasChars:hover {
		padding-bottom: 3px;
	}

	.hasChars .playerInfo {
		padding-bottom: 6px;
	}

	.player {
		width: 210px;
		padding-right: 15px;
	}

	.player img {
		vertical-align: top;
		margin-left: 10px;
	}

	.actionLinks, .actionLinks {
		a {
			margin-right: 20px;
		}
	}

	.characters {
		margin-left: 0;
		list-style: none;
		background: #EEE;
	}

	#playersInGame > li:hover .characters {
		background: #DDD;
	}

	#playersInGame .characters li {
		padding: 6px 0;
		border-top: 1px solid #CCC;
	}

	#playersInGame .characters li:first-child {
		border-top: none;
	}

	#playersInGame > li:hover .characters li {
		border-color: #BBB;
	}

	.charLabel {
		width: 190px;
		padding-left: 20px;
		padding-right: 15px;
	}

	#submitChar form > * {
		vertical-align: middle;

		.prettySelect {
			margin-left: 15px;
		}
	}

	#gameFeatures {
		margin-top: 1em;

		.headerbar {
			margin-top: 0;
		}
	}

	.tr div {
		display: inline-block;
		vertical-align: middle;
	}

	.headers div {
		font-weight: bold;
		vertical-align: bottom;
	}

	.sprite {
		margin-right: 5px;
	}

	#maps {
		width: 470px;
	}

	.headers .mapVisible {
		background: none;
	}

	.mapVisible {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background: url('../images/eye_mini.png') top left no-repeat;
	}

	.mapVisible.invisible {
		background-position: bottom left;
	}

	.mapLink {
		width: 200px;
	}

	.mapSize {
		width: 75px;
		margin: 0 10px;
		text-align: center;
	}

	.deckRemaining {
		width: 85px;
		text-align: center;
		margin: 0 10px;
	}

	#decks {
		width: 470px;
	}

	.deckLabel {
		width: 205px;
	}

	.deckType {
		display: block !important;
		font-size: .8em;
		font-style: italic;
	}

	.deckRemaining {
		width: 85px;
		text-align: center;
		margin: 0 10px;
	}

	#submitChar .fancyButton {
		margin-top: 10px;
	}
}

/* --------------------------------------------*/

#page_game_pendingPlayer, #page_game_removePlayer {
	form {
		margin-top: 1em;
	}
}

/* --------------------------------------------*/

#page_deckDetails {
	.tr.clearfix > * {
		float: left;
	}

	label, .title, .notice {
		width: 130px;
		margin-right: 10px;
	}

	.notice {
		font-size: .8em;
		color: #A00;
	}

	.inputCol p {
		margin: .3em 0;
	}

	#page_deckDetails.editDeck #allowAccess {
		margin-top: 1em;
	}

	a {
		font-size: .75em;
	}

	.user {
		float: left;
		width: 170px;
		padding: .3em 0 0;
	}

	.user label {
		display: inline;
		margin: 0;
	}

	#submitDiv {
		margin-top: .5em;
	}
}

/* --------------------------------------------*/

#page_addGM {
	input {
		margin-top: .5em;
		width: 200px;
	}

	#buttonDiv {
		margin-top: 1em;
		text-align: center;
	}
}