/*
	Games CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_myGames #gamesPlaying {
	margin-bottom: 1.5em;
}

#page_myGames .noneFound {
	font-size: 1.3em;
	margin: 1.5em 0;
	line-height: 1.4em;
	text-align: center;
	font-weight: bold;
}

#page_myGames .gameTitle {
	display: block;
	float: left;
	width: 250px;
	border-right: 1px solid #666;
}

#page_myGames .systemType, #page_myGames .gmInfo {
	float: left;
	border-right: 1px solid #999;
	text-align: center;
}

#page_myGames .systemType {
	width: 200px;
}

#page_myGames .gmInfo {
	float: none;
	width: 175px;
	margin-left: 451px;
	border-right: none;
}

#page_myGames .gmLinks {
	margin-left: 470px;
}

#page_myGames .playerLinks {
	margin-left: 670px;
}

#page_myGames .gameRunning .systemType {
	float: none;
	margin-left: 250px;
	border-right: none;
}

#page_myGames #lfg a {
	font-size: .75em;
}

#page_myGames .alignRight {
	margin: 0 10px 0 0;
}

#page_myGames #gamesRunning {
	margin-top: 1em;
}

/* --------------------------------------------*/

#page_lfg h3 {
	display: inline;
}

#page_lfg a {
	font-size: .75em;
}

#page_lfg .game {
	float: left;
	width: 224px;
	padding: .25em 0;
}

#page_lfg .game label {
	display: inline;
}

#page_lfg #submitDiv {
	text-align: center;
	margin-top: .5em;
}

/* --------------------------------------------*/

#page_newGame .sideWidget {
	width: 260px;
}

#page_newGame .sideWidget li {
	padding: .2em 0;
	list-style: none;
}

#page_newGame .mainColumn {
	width: 640px;
}

#page_newGame form, #page_editGame form {
	width: 660px;
	margin: 0 auto;
}

#page_newGame label, #page_editGame label {
	float: left;
	width: 250px;
	margin: 3px 10px 0 0;
	text-align: right;
	font-weight: bold;
}

#page_newGame input, #page_editGame input {
	width: 250px;
}

#page_newGame input#numPlayers, #page_newGame input#timesPer, #page_editGame input#numPlayers, #page_editGame input#charsPerPlayer, #page_editGame input#timesPer {
	text-align: center;
	width: 30px;
}

#page_newGame textarea, #page_editGame textarea {
	width: 375px;
	height: 8em;
}

#page_newGame #submitDiv, #page_editGame #submitDiv {
	margin-top: 1em;
	text-align: center;
}

/* --------------------------------------------*/

#page_listGames #filterGames .tr:first-child {
	padding-top: 0;
}

#page_listGames #filterGames input[type="text"] {
	width: 212px;
}

#page_listGames #filterGames > ul {
	margin: .5em 0 1em;
	clear: both;
	list-style: none;
}

#page_listGames #filterGames li {
	padding: 0.1em 0
}

#page_listGames label {
	display: inline;
}

#page_listGames h1 {
	margin: 0;
}

#page_listGames .gameTitle {
	display: block;
	float: left;
	width: 210px;
	padding-right: 15px;
	border-right: 1px solid #999;
}

#page_listGames .systemType {
	float: left;
	width: 200px;
	padding: 0 15px;
	border-right: 1px solid #999;
	text-align: center;
}

#page_listGames .gmLink {
	float: left;
	margin-left: 15px;
}

#page_listGames #noResults {
	margin: 2em 0;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;
}

/* --------------------------------------------*/

#page_gameDetails h1 a {
	font-size: .6em;
}

#page_gameDetails .tr label {
	float: left;
	width: 320px;
	margin-right: 10px;
	font-size: .9em;
	text-transform: uppercase;
	text-align: right;
	font-weight: bold;
}

#page_gameDetails #details .tr > div {
	float: left;
}

#page_gameDetails .notice, #page_gameDetails #loggedOutNotice {
	margin: 1em 0;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
}

#page_gameDetails #playerDetails .leftCol {
	float: left;
	width: 630px;
}

#page_gameDetails #playerDetails .rightCol {
	float: right;
	width: 300px;
}

/*#page_gameDetails #playersInGame li {
	padding: 0;
}*/

#page_gameDetails .playerInfo > div, #page_gameDetails .characters li > div {
	float: left;
}

/*#page_gameDetails .playerInfo {
	padding: 8px;
}

#page_gameDetails .playerInfo:hover {
	padding: 7px;
	border: 1;
}

#page_gameDetails #playersInGame li:hover {
	padding: 0;
}*/

#page_gameDetails .hasChars {
	padding-bottom: 4px;
}

#page_gameDetails .hasChars:hover {
	padding-bottom: 3px;
}

#page_gameDetails .hasChars .playerInfo {
	padding-bottom: 6px;
}

#page_gameDetails .player {
	width: 210px;
	padding-right: 15px;
}

#page_gameDetails .player img {
	vertical-align: top;
	margin-left: 10px;
}

#page_gameDetails .actionLinks a, #page_gameDetails .actionLinks a {
	margin-right: 20px;
}

#page_gameDetails .characters {
	margin-left: 0;
	list-style: none;
	background: #EEE;
}

#page_gameDetails #playersInGame > li:hover .characters {
	background: #DDD;
}

#page_gameDetails #playersInGame .characters li {
	padding: 6px 0;
	border-top: 1px solid #CCC;
}

#page_gameDetails #playersInGame .characters li:first-child {
	border-top: none;
}

#page_gameDetails #playersInGame > li:hover .characters li {
	border-color: #BBB;
}

#page_gameDetails .charLabel {
	width: 190px;
	padding-left: 20px;
	padding-right: 15px;
}

#page_gameDetails #submitChar form > * {
	vertical-align: middle;
}

#page_gameDetails #submitChar .prettySelect {
	margin-left: 15px;
}

#page_gameDetails #gameFeatures {
	margin-top: 1em;
}

#page_gameDetails #gameFeatures .headerbar {
	margin-top: 0;
}

#page_gameDetails .tr div {
	display: inline-block;
	vertical-align: middle;
}

#page_gameDetails .headers div {
	font-weight: bold;
	vertical-align: bottom;
}

#page_gameDetails .iconLink {
	margin-right: 5px;
}

#page_gameDetails #maps {
	width: 470px;
}

#page_gameDetails .headers .mapVisible {
	background: none;
}

#page_gameDetails .mapVisible {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background: url('../images/eye_mini.png') top left no-repeat;
}

#page_gameDetails .mapVisible.invisible {
	background-position: bottom left;
}

#page_gameDetails .mapLink {
	width: 200px;
}

#page_gameDetails .mapSize {
	width: 75px;
	margin: 0 10px;
	text-align: center;
}

#page_gameDetails .deckRemaining {
	width: 85px;
	text-align: center;
	margin: 0 10px;
}
#page_gameDetails #decks {
	width: 470px;
}

#page_gameDetails .deckLabel {
	width: 205px;
}

#page_gameDetails .deckType {
	display: block !important;
	font-size: .8em;
	font-style: italic;
}

#page_gameDetails .deckRemaining {
	width: 85px;
	text-align: center;
	margin: 0 10px;
}

#page_gameDetails #submitChar .fancyButton {
	margin-top: 10px;
}

/* --------------------------------------------*/

#page_game_pendingPlayer form, #page_game_removePlayer form {
	margin-top: 1em;
}

/* --------------------------------------------*/

#page_deckDetails .tr.clearfix > * {
	float: left;
}

#page_deckDetails label, #page_deckDetails .title, #page_deckDetails .notice {
	width: 130px;
	margin-right: 10px;
}

#page_deckDetails .notice {
	font-size: .8em;
	color: #A00;
}

#page_deckDetails .inputCol p {
	margin: .3em 0;
}

#page_deckDetails.editDeck #allowAccess {
	margin-top: 1em;
}

#page_deckDetails a {
	font-size: .75em;
}

#page_deckDetails .user {
	float: left;
	width: 170px;
	padding: .3em 0 0;
}

#page_deckDetails .user label {
	display: inline;
	margin: 0;
}

#page_deckDetails #submitDiv {
	margin-top: .5em;
}

/* --------------------------------------------*/

#page_addGM input {
	margin-top: .5em;
	width: 200px;
}

#page_addGM #buttonDiv {
	margin-top: 1em;
	text-align: center;
}