/*
	Maps CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_mapDetails label {
	float: left;
	text-align: right;
	width: 100px;
	margin-right: 10px;
}

#page_mapDetails input {
	width: 200px;
}

#page_mapDetails #mapSize input {
	width: 30px;
}

#page_mapDetails .notice {
	margin-left: 160px;
	font-size: .85em;
}

/* --------------------------------------------*/

#page_map .mapIcon {
	width: 37px;
	height: 37px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	line-height: 39px;
	color: #FFF;
	border: 1px solid #000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	cursor: pointer;
}

#page_map #mapSidebar_content_box .mapIcon {
	float: left;
	margin: 3px;
}

#page_map #map .mapIcon {
/*	position: absolute;*/
}

#page_map .reminder {
	font-size: .9em;
	font-style: italic;
	margin-top: 1.5em;
}

#page_map #mapSidebar_content_box {
}

#page_map #mapSidebar_content_box hr {
	margin: .6em 0;
}

#page_map #editDelBox .mapIcon {
	position: absolute;
}

#page_map #iconBox {
	min-height: 39px;
}

#page_map form {
	margin-top: 1em;
}

#page_map #iconForm .fancyButton {
	font-size: .85em;
	line-height: 1em;
}

#page_map #mapSidebar_content_box a {
	margin-right: 50px;
}

#page_map #mapSidebar_content_history p {
	margin: 0;
}

#page_map #mapSidebar_content_history p.timestamp {
	font-size: .8em;
}

#page_map #mapSidebar_content_history p.historyStr {
	margin-bottom: .8em;
}

#page_map label {
	float: left;
	width: 50px;
}

#page_map .small {
	font-size: .8em;
}

#page_map #iconLabel {
	width: 50px;
}

#page_map #iconName {
	width: 150px;
}

#page_map #desc {
	width: 400px;
	height: 5em;
}

#page_map #staticMapOptions {
}

#page_map #tileOptions {
	display: none;
	height: 77px;
}

#page_map .colorOption {
	float: left;
	margin: 0 10px;
	width: 50px;
	text-align: center;
}

#page_map .colorOption .color {
	width: 40px;
	height: 40px;
	margin: 0 5px;
}

#page_map .colorOption .name {
	margin: .5em 0;
	text-align: center;
	font-size: .85em;
}

#page_map #addCR .textLabel {
	float: left;
}

#page_map #addCR .psWrapper {
	margin-left: 40px;
	margin-bottom: 10px;
}

#page_map #addPos {
	width: 40px;
	text-align: right;
}

#page_map #saveMap {
	margin-top: .5em;
}

#page_map #mapOptions a {
	margin-right: 20px;
}

#page_map #mapSidebar {
	float: right;
	width: 250px;
	margin-top: 20px;
	padding-left: 15px;
}

#page_map #mapControls {
	position: relative;
	width: 50px;
	height: 50px;
}

#page_map #mapControls a {
	position: absolute;
}

#page_map #mapControls_up_top, #page_map #mapControls_down_top {
	width: 20px;
	height: 10px;
}

#page_map #mapControls_right_top, #page_map #mapControls_left_top {
	width: 10px;
	height: 20px;
}

#page_map #mapControls_up_body, #page_map #mapControls_down_body {
	width: 6px;
	height: 12px;
}

#page_map #mapControls_right_body, #page_map #mapControls_left_body {
	width: 12px;
	height: 6px;
}

#page_map #mapControls_up_top {
	top: 0;
	left: 15px;
}

#page_map #mapControls_right_top {
	top: 15px;
	right: 0;
}

#page_map #mapControls_down_top {
	bottom: 0;
	left: 15px;
}

#page_map #mapControls_left_top {
	top: 15px;
	left: 0;
}

#page_map #mapControls_up_body {
	top: 10px;
	left: 22px;
}

#page_map #mapControls_right_body {
	top: 22px;
	right: 10px;
}

#page_map #mapControls_down_body {
	bottom: 10px;
	left: 22px;
}

#page_map #mapControls_left_body {
	top: 22px;
	left: 10px;
}

#page_map #mapSidebar_content {
	position: relative;
	margin-top: 1em;
}

#page_map #mapSidebar_content .wingDiv, #page_map #mapSidebar_content .wingDivContent {
	overflow: visible;
}

#page_map #mapSidebar_contentControls .prettySelect, #page_map #mapSidebar_contentControls .prettySelectCurrent, #page_map #mapSidebar_contentControls .prettySelectOptions {
	background: #522;
}

#page_map #mapSidebar_contentControls .prettySelect, #page_map #mapSidebar_contentControls .prettySelectOptions {
	color: #FDD;
	border: none;
	border-top: .3em solid #222;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#page_map #mapSidebar_contentControls .prettySelectCurrent, #page_map #mapSidebar_contentControls .prettySelectLongest, #page_map #mapSidebar_contentControls .prettySelectDropdown, #page_map #mapSidebar_contentControls .prettySelectOptions li {
}

#page_map #mapSidebar_contentControls .prettySelectCurrent, #page_map #mapSidebar_contentControls .prettySelectLongest, #page_map #mapSidebar_contentControls .prettySelectOptions li {
	padding: .3em 15px;
}

#page_map #mapSidebar_contentControls .prettySelectDropdown {
	background-image: url('../images/dropdown_arrow_white.png');
}

#page_map #mapSidebar_contentControls .prettySelectOptions {
	left: 0;
	border: 1px solid #522;
	border-top: .3em solid #222;
}

#page_map #mapSidebar_contentControls .prettySelectOptions li:hover {
	background: #449;
	color: #FFF	;
}

#page_map #mapSidebar_contentContainer {
	padding: 10px;
	overflow: auto;
	border: 1px solid #000;
}

#page_map #mapSidebar_contentContainer p {
	margin-top: 0;
	text-align: left;
}

#page_map #sidebarIconHolder, #page_map #mapIconHolder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 39px;
	height: 39px;
}

#page_map #mapContainer {
	position: relative;
	z-index: 0;
}

#page_map .cHeader, #page_map .rHeader {
	width: 40px;
	height: 40px;
	overflow: hidden;
}

#page_map #colHeaders {
	position: absolute;
	top: 0;
	left: 40px;
	height: 40px;
	z-index: 50;
	overflow: hidden;
}

#page_map #rowHeaders {
	position: absolute;
	top: 40px;
	left: 0;
	width: 40px;
	z-index: 50;
	overflow: hidden;
}

#page_map #colHeaders > div, #page_map #rowHeaders > div {
	position: absolute;
	top: 0;
	left: 0;
}

#page_map .cHeader {
	float: left;
	height: 39px;
	border-bottom: 1px solid #999;
	background: url('../images/maps/mapCH.png') top left no-repeat;
}

#page_map .cHeaderMin {
	height: 19px;
	margin-top: 20px;
}

#page_map .rHeader {
	border-right: 1px solid #999;
	width: 39px;
	background: url('../images/maps/mapRH.png') top left no-repeat;
}

#page_map .rHeaderMin {
	width: 19px;
	margin-left: 20px;
}

#page_map #mapContainer a {
	color: #FFF;
}

#page_map #mapContainer a:hover {
	color: #FFF;
}

#page_map .cHeader > a, #page_map .rHeader > a {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: .8em;
	overflow: hidden;
	cursor: default;
}

#page_map .editMap .cHeader > a, #page_map .editMap .rHeader > a {
	cursor: pointer;
}

#page_map .cHeader > a {
	width: 40px;
	height: 20px;
	text-transform: capitalize;
	line-height: 21px;
}

#page_map .rHeader > a {
	float: left;
	width: 20px;
	height: 40px;
	line-height: 36px;
}

#page_map .rHeader > a:first-child {
	width: 18px;
	padding-left: 2px;
}

#page_map #mapWindow {
	position: relative;
	top: 40px;
	left: 40px;
	overflow: hidden;
}

#page_map #map {
	position: relative;
}

#page_map .mapTile {
	float: left;
	height: 39px;
	width: 39px;
	border: 1px solid #999;
	border-top: none;
	border-left: none;
}

#page_map .selectedTile {
	height: 35px;
	width: 35px;
	border: 3px solid #999;
	border-width: 2px 3px 3px 2px;
}

#page_map #iconContextMenu {
	position: absolute;
	z-index: 5000;
	display: none;
}

#page_map #iconContextMenu ul {
	width: 150px;
	margin: 0;
	border-top: 1px solid #000;
	background: #DDD;
	list-style: none;
}

#page_map #iconContextMenu li {
	border: 1px solid #000;
	border-top: none;
}

#page_map #iconContextMenu a {
	display: block;
	padding: 3px;
}

#page_map #iconContextMenu a, #page_map #iconContextMenu a:active, #page_map #iconContextMenu a:visited {
	color: #D00;
}

#page_map #iconContextMenu a:hover {
	background: #EEE;
	color: #06F;
}

#page_map #iconContextMenu.inBox .boxHide {
	display: none;
}

#page_map .tempDisableDrag {
	opacity: .5;
	cursor: default;
}

/* --------------------------------------------*/

#page_editMapInfo textarea {
	height: 10em;
}

#page_editMapInfo .alignCenter {
	margin-top: 1em;
}