/*
	Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_pms {
	#controlsContainer {
		position: relative;
		margin-top: 2em;
	}

	#newPM {
		float: left;
	}

	#controls {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	#pms {
		position: relative;

		.tr > div, .trHeaders div {
			display: inline-block;
			vertical-align: middle;
			padding: 4px 2px;
		}

		.tr {
			position: relative;
			top: -1px;
			padding: 0;
			border-style: solid;
			border-color: #222;
			border-width: 1px 2px;
			border-right-color: #A66;
			border-bottom-color: #A66;
		}

		.tr:hover {
			background-color: #FFF2E0;
		}

		.headerTR {
			top: 0;	
			border: none;
			padding: 2px 2px;
		}

		.headerTR:hover {
			background-color: #222;
		}

		.lastTR {
			border-bottom-width: 2px;
		}

		.new {
			background: #EEF;

			.title a {
				font-weight: bold;
			}
		}

		.new:hover {
			background: #FEC;
		}

		.delCol {
			width: 30px;
			text-align: center;

			& > * {
				vertical-align: middle;
			}
		}

		.details {
			font-size: .85em;
			line-height: 1.2em;
		}

		#noPMs {
			text-align: center;
			font-weight: bold;
			padding: 1em 0;
		}
	}
}

/* --------------------------------------------*/

#page_pm_view {
	#buttonsDiv {
		margin-left: 10px;
		margin-bottom: 1em;
	}

	#buttonsDiv a {
		margin-right: 5px;
		font-size: 1.2em;
	}

	.leftCol {
		font-size: .9em;
		text-transform: uppercase;
		text-align: right;
		font-weight: bold;
		float: left;
		width: 60px;
	}

	.rightCol {
		margin-left: 75px;
	}

	#messageDiv {
		margin: 0 2em 1em;
	}
}

/* --------------------------------------------*/

#page_pm_send {
	form {
		width: 650px;
		margin: 0 auto;
	}

	label {
		display: inline-block;
		width: 75px;
	}

	input[type="text"] {
		width: 562px;
		margin: 0 0 0 5px;
	}

	.tr > * {
		vertical-align: middle;
	}

	#username {
		width: 250px;
	}

	#invalidUser {
		display: inline-block;
		margin-left: 10px;
	}

	#titleRequired {
		margin-left: 80px;
		padding-top: 0;
	}

	textarea {
		width: 642px;
		height: 10em;
		margin: 10px 0;
	}

	#submitDiv {
		margin: 1em 0 .5em;
	}
}

/* --------------------------------------------*/

#page_pm_view, #page_pm_send {
	#history {
		max-height: 300px;
		overflow: auto;
		border: 2px solid #444;
		padding: 0 15px;
		background-color: #EEE;

		.historyPM {
			border-top: 1px solid #666;
			padding: 10px 0;
		}

		.historyPM.first {
			border-top: none;
		}

		.title {
			font-weight: bold;
			margin-top: 0;
		}

		.user {
			font-size: .85em;
			line-height: 1.3em;
			margin: .3em 0;
		}
	}
}

/* --------------------------------------------*/

#page_pm_delete {
	form {
		margin: 1em 0 .25em;

		button {
			margin: 0 5px;
		}
	}
}