body #content
{
    background-color: #303136;
}

body
{
    color:#ddd;
}

body .fauxLink, 
body a,
body  a:active,
body  a:visited,
body  button.normal,
body  button.normal:active,
body  button.normal:visited
{
    color:#c54;
}



body  a.username,
body   a.username:active,
body   a.username:visited
{
    color:#89c;
}

body #page_home #announcements 
{
    background-color: #37393F;   
}

body .headerbar a, body .headerbar a:active, body .headerbar a:hover, body .headerbar a:visited, body div.headerbar
{
    color:#ddd;
}


body #page_forum_thread .postContent
{
background-color: #37393F;
}

body #page_forum_thread .postRight .postPoint 
{
    background-image: none;
    border:solid 20px transparent;
    border-right-color: #444;
    width:0;
    height:0;
    left:-40px;
    top:10px;
}

body #page_forum_thread .postRight .postPoint:after
{
    display: block;
    content:' ';
    position: absolute;
    border:solid 18px transparent;
    border-right-color: #37393F;
    width:0;
    height:0;
    left: -14px;
    top: -18px;    
}

body #page_forum_thread .postLeft .postPoint 
{
    background-image: none;
    border:solid 20px transparent;
    border-left-color: #444;
    width:0;
    height:0;
    right:-40px;
    top:10px;
}

body #page_forum_thread .postLeft .postPoint:after
{
    display: block;
    content:' ';
    position: absolute;
    border:solid 18px transparent;
    border-left-color: #37393F;
    width:0;
    height:0;
    left: -21px;
    top: -18px;    
}

#page_forum_thread div.postContent hr{
    color: #888;
    background-color: #888;
}

body #page_forum_thread .postHeader
{
    border-bottom-color: #c54;
}

body .note,
body  .quote,
body  .spoiler,
body  .private
{
    background-color: #303136;   
}

body .oocText
{
    color:#89c;
}

body #page_forum .sudoTable .tr:hover, 
body #page_forum_search .sudoTable .tr:hover {
    background-color: #37393F;
}

body #page_gameDetails .characters 
{
    background-color: #37393F;

}

body .hbAttachedList>li:hover,
body .prettyList>li:hover,
body #page_pms #pmList .tr:hover,
body #page_pm_send #history, 
body #page_pm_view #history
{
    background-color: #37393F;   
   
}

.hbAttachedList > li:first-child:hover {
    background-color: #37393F;   
}

body #page_gameDetails #playersInGame>li:hover .characters
{
    background-color: #303136;   
   
}

body .markItUpButton,
body .markItUpHeader ul .markItUpDropMenu,
body .markItUpHeader ul .markItUpSeparator
{
    background-color: #ddd;
    min-height:22px;
}

body .markItUpHeader ul .markItUpSeparator
{
    margin:0;
    border:solid 10px #ddd;
    background-color: #303136;
    border-top-width: 0;
    border-bottom-width: 0;
}


body #messageTextArea
{
    border-top-left-radius: 0;
}

body span.invertColors {
    mix-blend-mode: screen;
}

body #page_forum_thread div.postBlockFound
{
    background-color: transparent;
}

body #page_forum_thread div.postBlockFound .postContent 
{
    border-color: #c54;
}

body #page_forum_thread div.postBlockFound .postPoint
{
    border-right-color: #c54;   
}

body input[type=text], 
body input[type=number], 
body input[type=password], 
body input[type=button], 
body input[type=file], 
body select, 
body textarea
{
    background-color: #37393F;   
    color:#fff;
    border-color: #444;
}

body .prettySelectOptions,
body  div.prettySelect,
body .prettySelectCurrent
{
    background-color: #37393F;   
    color:#fff;
    border-color: #444;
}

body #charSheetRoller
{
    background-color: #37393F;   
    border-color: #ddd;
}

body #charSheetRoller h3
{
    color:#ddd;
    border-top-color: #888;
}

body .rollForChar.sel
{
    background-color: #37393F;   
    color:#ddd;
}

body #topNotifications
{
    color:#05e;
}

body #page_user .gameInfo
{
    color: #303136;      
}

body input[type=file].imageFileUpload
{
    background-color: transparent;   
    color:transparent;
    border-color: transparent;
}

body #primaryTraits .trait
{
    background-color:#37393F;
}

body .forumIcon{
    visibility: hidden;
}

body .forumIcon.newPosts{
    visibility: visible;
}

#page_music #info
{
    background-color:#37393F;
}

#page_tools_dice #diceSpace
{
    background-color:#37393F;
}

#page_tools_dice #diceSpace .newestRolls
{
    background-color:#333;
}

#page_systems #systems .system
{
    background-color:#37393F;
  
}

#starwarsffg_setback span,
#starwarsffg_force span
{
    color: #ccc;
}

body.modal {
    color: #000;
}

.bbTable td{
    color: #fff;
}

.bbTable.bbTableRolls{
    tr{
        border-bottom: solid 1px #303136;

    }
}

#charSheetRoller .bbTableRolls{
    tr:hover{
        background-color: #5D4733;
    }
    .rollDice{
        background-color: #303136;
    }        
}

.parsedRolls{
	.rollVal-success{
		color:#0c2;
	}
	.rollVal-fail{
		color: #f44;
	}
	.rollVal-info{
		color: #38f;
	}

	.rollVal-invert{
		background-color: #fff;
		color: #333;
		&.rollVal-success{
			background-color: #0a0;
            color: #fff;
		}
		&.rollVal-fail{
			background-color: #800;
            color: #fff;
		}
		&.rollVal-info{
			background-color: #38f;
            color: #fff;
		}
	}

	.rollVal-underline{
		text-decoration:underline;
	}

}



h1.customChar{
    color: #c54;
    border-color: #c54;
}

body.style-background #content {
	>.bodyContainer {
		&:before{
			background-color: rgba(48,49, 54, 0.95);
		}

	}
}

#page_forum_thread #poll{
    background-color: #37393F;
}