/*
	Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_tools #toolsList {
	text-align: center;
}

#page_tools #toolsList a {
	display: inline-block;
	margin: 0 15px;
	padding: 5px 15px;
	border: 3px solid #A00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #FFF;
}

#page_tools #toolsList a:hover {
	background: #F8EEEE;
}

#page_tools #toolsList a:first-child {
	margin-right: 15px;
}

#page_tools #toolsList a p {
	text-align: center;
	margin-top: 1em;
	font-size: 1.5em;
}

/* --------------------------------------------*/

#page_tools_cards .cardControls {
	width: 220px;
	float: left;
}

#page_tools_cards .cardControls, #page_tools_cards .cardControls > * {
	text-align: center;
}

#page_tools_cards .numCards {
	width: 30px;
	text-align: center;
}

#page_tools_cards .drawCards {
	margin: 10px 0 4px;
}

#page_tools_cards #dispArea {
	margin: 2em 0 0 230px;
}

#page_tools_cards .newDeck {
	margin-bottom: 2em;
	padding: 5px 10px 10px;
	border: 1px solid #CCC;
	background-color: #EEE;
	text-align: left;
}

#page_tools_cards .newDeck h2 {
	margin: .2em 0 .2em;
	padding: 0 10px;
	background: #444;
	font-size: 2em;
	font-family: 'AgencyFB';
	color: #FFF;
}

#page_tools_cards .deckType {
	display: inline-block;
	width: 222px;
}

#page_tools_cards .fancyButton {
	display: inline-block;
}

#page_tools_cards .fancyButton button {
	width: 150px;
}

#page_tools_cards .button :first-child {
	width: 134px;
	text-align: center;
}

#page_tools_cards .cardSpace {
	border: 1px solid #A00;
	padding: 5px;
	text-align: left;
}

#page_tools_cards .cardWindow {
	margin: 4px;
}

#page_tools_cards #deckAnnouncement {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

/* --------------------------------------------*/

#page_tools_dice #roller {
	width: 400px;
	margin-right: 20px;
	float: left;
}

#page_tools_dice #controls, #page_tools_dice .wingDivContent {
	overflow: visible;
}

#page_tools_dice #controls .prettySelect, #page_tools_dice #controls .prettySelectCurrent, #page_tools_dice #controls .prettySelectOptions {
	background: #522;
}

#page_tools_dice #controls .prettySelect, #page_tools_dice #controls .prettySelectOptions {
	color: #FDD;
	border: none;
	border-top: .3em solid #222;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#page_tools_dice #controls .prettySelectCurrent, #page_tools_dice #controls .prettySelectLongest, #page_tools_dice #controls .prettySelectDropdown, #page_tools_dice #controls .prettySelectOptions li {
}

#page_tools_dice #controls .prettySelectCurrent, #page_tools_dice #controls .prettySelectLongest, #page_tools_dice #controls .prettySelectOptions li {
	padding: .3em 15px;
}

#page_tools_dice #controls .prettySelectDropdown {
	background-image: url('../images/dropdown_arrow_white.png');
}

#page_tools_dice #controls .prettySelectOptions {
	top: -3px;
	left: -1px;
	border: 1px solid #522;
	border-top: .3em solid #222;
}

#page_tools_dice #controls .prettySelectOptions li:hover {
	background: #449;
	color: #FFF	;
}

#page_tools_dice .dice_basic textarea {
	float: left;
	height: 6.2em;
	width: 275px;
}

#page_tools_dice #basic_customDice .fancyButton {
	display: inline-block;
	margin: 20px 0 0 15px;
}

#page_tools_dice #basic_customDice label {
	display: inline;
}

#page_tools_dice .dice_basic .cbWrapper {
	display: inline-block;
	margin-top: 3px;
	margin-left: 10px;
}

#page_tools_dice #basic_indivDice {
	margin-top: 1em;
}

#page_tools_dice #basic_indivDice > div {
	text-align: center;
	margin-top: .5em;
}

#page_tools_dice #basic_indivDice .fancyButton {
	margin: 0;
}

#page_tools_dice .dice_sweote .dicePool {
	float: left;
	min-height: 60px;
	width: 245px;
	margin: .5em 0;
	padding: 0 10px 10px 0;
	background: #DDF;
	border: 1px solid #400;
	border-bottom-color: #900;
	border-right-color: #900;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#page_tools_dice #ww_sweote_roll {
	margin: 20px 0 0 20px;
}

#page_tools_dice #sweote_clear {
	display: inline-block;
	margin: 5px 0 0 50px;
}

#page_tools_dice .dice_sweote .dicePool .sweote_dice {
	display: block;
	float: left;
	margin: 10px 0 0 10px;
}

#page_tools_dice .dice_sweote .addDiceLink {
	display: inline-block;
	width: 48%;
	margin: 5px 0;
	padding: 5px 10px;
	border: 1px solid #000;
	font-family: 'AgencyFB';
	font-size: 2em;
	line-height: 1em;
}

#page_tools_dice .dice_sweote .addDiceLink, #page_tools_dice .dice_sweote .addDiceLink:active, #page_tools_dice .dice_sweote .addDiceLink:visited {
	color: #000;
}

#page_tools_dice .dice_sweote .addDiceLink:hover span {
	text-decoration: underline;
}

#page_tools_dice .dice_sweote .addDiceLink span {
	margin-left: 5px;
}

#page_tools_dice .dice_sweote .addDiceLink > * {
	vertical-align: middle;
}

#page_tools_dice #sweote_ability {
	background-color: rgba(79, 184, 71, .5);
}

#page_tools_dice #sweote_difficulty {
	background-color: rgba(83, 35, 128, .5);
}

#page_tools_dice #sweote_proficiency {
	background-color: rgba(255, 233, 0, .5);
}

#page_tools_dice #sweote_challenge {
	background-color: rgba(229, 25, 55, .5);
}

#page_tools_dice #sweote_boost {
	background-color: rgba(163, 217, 246, .5);
}

#page_tools_dice #sweote_setback {
	background-color: rgba(0, 0, 0, .5);
}

#page_tools_dice #diceSpace {
	height: 292px;
	border: 1px solid #A00;
	overflow: auto;
	background: #EEE;
}

#page_tools_dice #diceSpace .roll {
	padding: 1em;
	margin: 0;
}

#page_tools_dice #diceSpace .roll p {
	margin-bottom: 0;
}

#page_tools_dice #diceSpace .rollString {
	margin: 0;
}

/*#page_tools_dice #diceSpace .newestRoll {
	display: none;
	margin: 1em;
	background-color: #222;
}*/

#page_tools_dice #diceSpace .newestRolls {
	display: none;
	border-bottom: 1px solid #D99;
}

#page_tools_dice #diceSpace .newestRolls {
	background-color: #FFF;
}

#page_tools_dice #diceSpace .newestRolls p.error {
	font-weight: bold;
}

#page_tools_dice #diceSpace .sweote_dice {
	margin-right: 10px;
}

/* --------------------------------------------*/

#page_music .sideWidget label {
	display: inline-block;
}