/*
	Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_tools #toolsList {
	width: 487px;
	margin: 0 auto;
}

#page_tools #toolsList a {
	display: block;
	float: left;
	padding: 5px 15px;
	border: 3px solid #A00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #FFF;
}

#page_tools #toolsList a:hover {
	background: #F8EEEE;
}

#page_tools #toolsList a:first-child {
	margin-right: 15px;
}

#page_tools #toolsList a p {
	text-align: center;
	margin-top: 1em;
	font-size: 1.5em;
}

/* --------------------------------------------*/

#page_tools_cards .cardControls {
	width: 220px;
	float: left;
}

#page_tools_cards .cardControls, #page_tools_cards .cardControls > * {
	text-align: center;
}

#page_tools_cards .numCards {
	width: 30px;
	text-align: center;
}

#page_tools_cards .drawCards {
	margin: 10px 0 4px;
}

#page_tools_cards #dispArea {
	margin: 2em 0 0 230px;
}

#page_tools_cards .newDeck {
	margin-bottom: 2em;
	padding: 5px 10px 10px;
	border: 1px solid #CCC;
	background-color: #EEE;
	text-align: left;
}

#page_tools_cards .newDeck h2 {
	margin: .2em 0 .2em;
	padding: 0 10px;
	background: #444;
	font-size: 2em;
	font-family: 'AgencyFB';
	color: #FFF;
}

#page_tools_cards .deckType {
	display: inline-block;
	width: 222px;
}

#page_tools_cards .fancyButton {
	display: inline-block;
}

#page_tools_cards .fancyButton button {
	width: 150px;
}

#page_tools_cards .button :first-child {
	width: 134px;
	text-align: center;
}

#page_tools_cards .cardSpace {
	border: 1px solid #A00;
	padding: 5px;
	text-align: left;
}

#page_tools_cards .cardWindow {
	margin: 4px;
}

#page_tools_cards #deckAnnouncement {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

/* --------------------------------------------*/

#page_tools_dice #controls, #page_tools_dice .wingDivContent {
	overflow: visible;
}

#page_tools_dice #controls .prettySelect, #page_tools_dice #controls .prettySelectCurrent, #page_tools_dice #controls .prettySelectOptions {
	background: #522;
}

#page_tools_dice #controls .prettySelect, #page_tools_dice #controls .prettySelectOptions {
	color: #FDD;
	border: none;
	border-top: .3em solid #222;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#page_tools_dice #controls .prettySelectCurrent, #page_tools_dice #controls .prettySelectLongest, #page_tools_dice #controls .prettySelectDropdown, #page_tools_dice #controls .prettySelectOptions li {
}

#page_tools_dice #controls .prettySelectCurrent, #page_tools_dice #controls .prettySelectLongest, #page_tools_dice #controls .prettySelectOptions li {
	padding: .3em 15px;
}

#page_tools_dice #controls .prettySelectDropdown {
	background-image: url('../images/dropdown_arrow_white.png');
}

#page_tools_dice #controls .prettySelectOptions {
	top: -3px;
	left: -1px;
	border: 1px solid #522;
	border-top: .3em solid #222;
}

#page_tools_dice #controls .prettySelectOptions li:hover {
	background: #449;
	color: #FFF	;
}

#page_tools_dice #roller {
	width: 400px;
	margin-right: 20px;
	float: left;
}

#page_tools_dice textarea {
	height: 6.2em;
	width: 275px;
}

#page_tools_dice #customDice .fancyButton {
	display: inline-block;
	margin: 0 0 20px 15px;
}

#page_tools_dice input[type="checkbox"] {
	margin-left: 105px;
}

#page_tools_dice #indivDice > div {
	text-align: center;
	margin-top: .5em;
}

#page_tools_dice #indivDice .fancyButton {
	margin: 0;
}

#page_tools_dice br.clear {
	clear: both;
}

#page_tools_dice #diceSpace {
	height: 292px;
	border: 1px solid #A00;
	overflow: auto;
	background: #EEE;
}

#page_tools_dice #diceSpace div p {
	padding: 1em;
	margin: 0;
}

/*#page_tools_dice #diceSpace .newestRoll {
	display: none;
	margin: 1em;
	background-color: #222;
}*/

#page_tools_dice #diceSpace .newestRolls {
	display: none;
	border-bottom: 1px solid #D99;
}

#page_tools_dice #diceSpace .newestRolls p {
	background-color: #FFF;
}

#page_tools_dice #diceSpace .newestRolls p.error {
	font-weight: bold;
}