/*
	Characters CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/
@import "gpVariables.less";

#controls {
	float: right;

	a {
		display: block;
		float: left;
		padding: .3em 15px;
		color: #FDD;
		background: #522;
		border-top: .3em solid #222;
		border-left: 2px solid #222;
	}

	a:first-child {
		border-left: none;
	}

	.current, a:hover {
		color: #F00;
		background: #222;
	}
}

#security, #forumOptions {
	margin-top: 1em;
}

.hbDark {
	margin-top: 0;
}

label {
	display: inline-block;
	width: 225px;
	margin-right: 10px;
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	width: 250px;
}

.tr {
	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	& > div {
		& > * {
			vertical-align: middle;
		}

		label {
			width: auto;
			text-align: left;
			font-weight: normal;
		}

		& > div {
			margin-left: 0;
		}
	}
}

.explanation {
	margin-top: .5em;
	font-size: .8em;
}

#security .explanation, .error {
	margin-left: 245px;
}

.error {
	color: @gp-red;
}

#avatar label {
	padding-top: 4px;
	vertical-align: top;
}

#avatarDisp {
	margin-bottom: .5em;

	img {
		border: 2px solid #333;
	}

	& > div > * {
		vertical-align: middle;
	}
}

.tr a.changeLink {
	font-size: .8em;
}

.prettySelect {
	margin-right: 10px;
}

input[type="checkbox"] {
	margin-bottom: 0;
}

#birthday {
	input {
		width: 35px;
		text-align: center;

		&:last-of-type {
			width: 45px;
		}
	}
}

#postSide > div {
	margin-bottom: 4px;
}

.submitDiv {
	margin-left: 235px;
}

@media only screen and (max-width: @mobile-breakpoint){
	.tr>*{
		text-align: left;
		display: block;
	}

	label{
		width: auto;
		padding-bottom: .2rem;
	}

	input[type="text"],
	input[type="password"]{
		width:100%;
	}
}