/*
	Users CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/

#page_user #leftCol {
	float: left;
	width: 280px;
	text-align: center;
}

#page_user .avatar {
	padding: 5px;
	border: 1px solid #777;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#page_user #actions {
	margin-top: .5em;
	text-align: center;
}

#page_user #actions p {
	margin: .5em 0 1em;
}

#page_user #rightCol {
	float: right;
	width: 670px;
}

#page_user h2 {
	margin-top: 0;
}

#page_user .userInfoBox {
	position: relative;
	margin-bottom: 20px;
}

#page_user .details {
	width: 600px;
	margin: 0 auto;
}

#page_user .noInfo {
	width: auto;
	margin: 2em 0;
}

#page_user .noInfo div {
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}

#page_user .details > p {
	margin: 0 0 1em;
}

#page_user .title {
	float: left;
	width: 150px;
	margin-right: 10px;
	font-weight: bold;
}

#page_user .game {
	float: left;
	width: 168px;
	margin-right: 20px;
	padding: 5px;
	border: 1px solid #777;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #EEE;
}

#page_user .game.third {
	margin-right: 0;
}

#page_user .game .gameLogo {
	display: table-cell;
	width: 168px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

#page_user .game img {
	max-width: 168px;
}

#page_user .gameInfo {
	height: 4.8em;
}

#page_user .game p {
	text-align: center;
}

#page_user #gmStats {
	margin-bottom: 10px;
}