/*
	Users CSS Stylesheet
	Created by RhoVisions, designer Rohit Sodhia
*/
@import "gpVariables.less";

#page_user {
	#leftCol {
		width: 280px;
		text-align: center;
	}

	.avatar {
		padding: 5px;
		border: 1px solid #777;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #FFF;
	}

	#actions {
		margin-top: .5em;
		text-align: center;
	}

	#actions p {
		margin: .5em 0 1em;
	}

	#rightCol {
		width: ~"calc(100% - 280px)";
	}

	h2 {
		margin-top: 0;
	}

	.userInfoBox {
		position: relative;
		margin-bottom: 20px;
	}

	.details {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
		grid-auto-rows: auto;
		grid-gap: 10px;

		margin: 0 auto;

		.title{
			float: none;
		}
	}

	.noInfo {
		width: auto;
		margin: 2em 0;
	}

	.noInfo div {
		font-size: 1.2em;
		text-align: center;
		text-decoration: none;
	}

	.details > p {
		margin: 0 0 1em;
	}

	.title {
		float: left;
		width: 150px;
		margin-right: 10px;
		font-weight: bold;
	}

	.game {
		width: 168px;
		margin-right: 20px;
		margin-bottom: 15px;
		padding: 5px;
		border: 1px solid #777;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #EEE;
	}

	.game.third {
		margin-right: 0;
	}

	.game .gameLogo {
		display: table-cell;
		width: 168px;
		height: 100px;
		vertical-align: middle;
		text-align: center;
	}

	.game img {
		max-width: 168px;
		max-height: 95px;
	}

	.gameInfo {
		height: 4.8em;
	}

	.game p {
		text-align: center;
	}

	#gmStats {
		margin-bottom: 10px;
	}

	.activeGames{
		ul{
			list-style: none;
			li{
				display:grid;
				grid-template-columns: 40px 3fr 2fr 60px 60px;
				padding-bottom: .4rem;
				margin-bottom: .4rem;

				.ag-isGm{
					grid-column: ~"1/2";
					grid-row: ~"1/2";
				}
				.ag-title{
					grid-column: ~"2/3";
					grid-row: ~"1/2";
					padding-right:.6em;
				}
				.ag-system{
					grid-column: ~"3/4";
					grid-row: ~"1/2";
					padding-right:.6em;
				}
				.ag-forum{
					grid-column: ~"4/5";
					grid-row: ~"1/2";
					justify-self: start;
					align-self: start;
				}
			}
		}
	}
}

@media only screen and (max-width: @mobile-breakpoint){
	#page_user {
		#leftCol {
			width: 100%;
			margin-bottom: 1rem;
		}
		#rightCol {
			width:100%;
		}
		.activeGames{
			ul{
				li{
					grid-template-columns: 40px 1fr  60px;
					.ag-system{
						grid-column: ~"2/3";
						grid-row: ~"2/3";
					}
					.ag-forum{
						grid-column: ~"3/4";
					}
				}
			}
		}
	}
}